<a href="https://colab.research.google.com/github/kty0307/Blog/blob/main/GPTs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. 환경설정

In [59]:
import requests
import json
import pandas as pd

In [60]:
class TLSAdapter(requests.adapters.HTTPAdapter):
    def init_poolmanager(self, *args, **kwargs):
        ctx = ssl.create_default_context()
        ctx.set_ciphers("AES128-SHA256")
        kwargs["ssl_context"] = ctx
        return super(TLSAdapter, self).init_poolmanager(*args, **kwargs)

# 1. 저축은행

## 1.1. 신용점수별 금리

In [50]:
def savings_cs(year, month):
  url = "https://www.fsb.or.kr/ratloanconf_0200.jct"
  payload = {
      "_JSON_": json.dumps({
          "SORT_COLUMN": "",
          "SORT": "",
          "PRE_MONTH_MONEY": "",
          "SUBMIT_MONTH": f"{year:04d}{month:02d}"
      })
  }

  response = requests.post(url, data=payload)

  data = response.text

  json_data = json.loads(data)

  # 데이터 추출 및 DataFrame 생성
  df = pd.DataFrame(json_data['REC'])
  df = df[['BANK_NAME', 'SUBMIT_MONTH', 'A_RATE1_3', 'A_RATE1', 'A_RATE2',
            'A_RATE3', 'A_RATE_AVE']]

  return df


crawled_data = savings_cs(2024, 12)

crawled_data

   BANK_NAME SUBMIT_MONTH A_RATE1_3 A_RATE1 A_RATE2 A_RATE3 A_RATE_AVE
0        BNK       202412     12.97    13.7   14.83   15.13      14.31
1         DB       202412     11.55   11.71    12.1     NaN      11.91
2        IBK       202412     12.63   14.27   16.01     NaN      15.29
3         JT       202412     13.57   13.86   14.04   13.83      13.97
4       JT친애       202412     13.92   14.86   15.22    15.3      15.17
5         KB       202412     12.21    13.2   14.68   16.19      14.27
6         NH       202412     11.13   11.64   13.02   13.52      12.41
7         OK       202412     14.21   15.05   16.75   17.94      16.46
8        OSB       202412     14.73   15.42   16.11   18.01      15.93
9        SBI       202412     14.05    14.7   15.15   15.86      15.14
10        고려       202412     15.18   14.18   14.26   14.72      14.76
11        다올       202412     15.12   14.47   15.01   16.22      14.98
12        동양       202412      16.9   16.19   16.68     NaN      16.45
13        모아       202412       NaN      19   19.02   18.88      18.99
14        삼호       202412     15.74   18.33   19.03   19.95      18.54
15    상상인플러스       202412     18.94   19.33   19.56   19.66      19.51
16        세람       202412     11.95   13.04    13.2   13.72      16.41
17       스마트       202412     11.69    14.1   15.37   16.87      14.66
18        스타       202412       NaN    14.2   18.98    18.5      17.68
19        신한       202412     12.71   15.93   16.76   16.97       16.5
20       애큐온       202412     15.23   16.19   16.72   17.05      16.72
21       엠에스       202412       NaN     NaN     NaN    15.9      17.86
22       예가람       202412     10.84   13.61   15.53    15.9      14.82
23      우리금융       202412      12.7   14.45   14.68   15.12      13.75
24        웰컴       202412     15.66   15.98   16.21   16.53      16.78
25        키움       202412     12.61   13.65    14.5   14.71      14.26
26     키움YES       202412     12.51    13.9   13.45   12.81      13.49
27        페퍼       202412      12.4   15.26   16.46   17.64      16.46
28        하나       202412     13.74   14.54   15.17   14.75      14.61
29      한국투자       202412     15.29   15.55    15.6   15.52      15.58
30        한성       202412       NaN   17.59   18.53   18.53      18.15
31        한화       202412     11.42   11.75   12.65   13.82       12.7

## 1.2. 금리대별 취급비중

In [53]:
def savings_int(year, month):
    url = "https://www.fsb.or.kr/ratloanconf_0300.jct"

    payload = {
        "SORT": "",
        "SUBMIT_MONTH": f"{year}{month:02}"
    }

    response = requests.post(url, data={"_JSON_": json.dumps(payload)})
    response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    data = json.loads(response.text)

    df = pd.DataFrame(data["REC"])  # 모든 열을 포함하는 DataFrame 생성

    # 원하는 열만 선택
    desired_columns = ["BANK_NAME", "SUBMIT_MONTH", "HANDING_WEIGHT_10", "HANDING_WEIGHT_12", "HANDING_WEIGHT_14"
                        ,"HANDING_WEIGHT_16", "HANDING_WEIGHT_18", "HANDING_WEIGHT_20"]
    df = df[desired_columns] #원하는 열만 남기기

    return df

# 예시 사용

data = savings_int(2024, 12)

data

,BANK_NAME,SUBMIT_MONTH,HANDING_WEIGHT_10,HANDING_WEIGHT_12,HANDING_WEIGHT_14,HANDING_WEIGHT_16,HANDING_WEIGHT_18,HANDING_WEIGHT_20
0,BNK,202412,0.44,16.82,25.54,46.61,10.59,0
1,DB,202412,NaN,66.42,28.2,3.91,1.47,NaN
2,IBK,202412,NaN,9.23,36.05,14.95,12.6,27.17
3,JT,202412,35.07,17,36.23,6.88,4.82,NaN
4,JT친애,202412,NaN,NaN,33.06,42.01,16.68,8.25
5,KB,202412,5.18,24.26,24.11,16.61,12.85,16.99
6,NH,202412,0.09,44.58,32.35,18.56,3.38,1.04
7,OK,202412,NaN,5.68,9.36,27.59,28.89,28.48
8,OSB,202412,NaN,NaN,23.81,33.23,11.72,31.24
9,SBI,202412,0.54,8.64,24.48,33.08,19.18,14.08
10,고려,202412,NaN,4.28,42.17,28.27,16.89,8.39
11,다올,202412,0.88,21.34,10.77,14.71,45.28,7.02
12,동양,202412,NaN,NaN,NaN,34.93,62.83,2.24
13,모아,202412,NaN,NaN,NaN,1.27,25.31,73.42
14,삼호,202412,1.1,0.48,0.81,1.77,10.77,85.07
15,상상인플러스,202412,NaN,NaN,NaN,NaN,5.32,94.68
16,세람,202412,NaN,12.44,16.16,8.74,33.89,28.77
17,스마트,202412,NaN,14.5,23.15,35.64,15.85,10.86
18,스타,202412,0,0,15.87,13.66,11.02,59.45
19,신한,202412,0.3,5.74,9.41,22.89,34.74,26.92
20,애큐온,202412,0,0.26,1.98,31.38,40.36,26.02
21,엠에스,202412,NaN,NaN,NaN,3.24,71.97,24.79
22,예가람,202412,2.27,15.75,25.84,21.03,24.51,10.6
23,우리,202412,56.58,43.42,0,0,0,0
24,우리금융,202412,1.41,5.01,16.74,72.57,3.94,0.33
25,웰컴,202412,NaN,0.14,12.24,26.87,25.77,34.98
26,키움,202412,0,27.57,25.34,21.75,13.6,11.74
27,키움YES,202412,4.65,27.32,31.62,23.78,8.32,4.31
28,페퍼,202412,NaN,2.97,15.19,26.28,23.95,31.61
29,하나,202412,0,2.14,35.89,41.45,18.43,2.09
30,한국투자,202412,NaN,1.68,29.14,20.25,38.56,10.37
31,한성,202412,NaN,NaN,NaN,1.9,34.46,63.64
32,한화,202412,0.25,37.17,44.58,10.78,5.32,1.9

# 2. 신용카드

## 2.1. 카드론_신용점수별 금리

In [62]:
def card_loan_cs(year, month):
    url = "https://gongsi.crefia.or.kr/portal/creditcard/creditcardDisclosureDetail25Ajax"

    # cgc_seq(월)을 찾기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": 1458,
        "cgcMode": 25,
        "cgcYyyy": year,
        "mcSeq": []
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    pick_month = json.loads(response.text)  # 응답 문자열 반환

    for item in pick_month['configListMm']:
        if item['cgcquarter'] == month:
            cgc_seq = item['cgcSeq']
            break  # 첫 번째로 찾은 값만 출력하고 반복문 종료

    # 실제 데이터를 추출하기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": cgc_seq,
        "cgcMode": 25,
        "cgcYyyy": year,
        "mcSeq": [31, 96, 1, 106, 14, 13, 12, 98, 502, 108, 619, 11, 97, 105, 103, 22]
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    data = json.loads(response.text)

    pick_data = data["resultList"]
    df = pd.DataFrame(pick_data)  # 모든 열을 포함하는 DataFrame 생성

    # 원하는 열만 선택
    df = df[["mcCompany", "cgcSeq", "cgCardPoint1", "cgCardPoint2", "cgCardPoint3"
                ,"cgCardPoint4", "cgCardPointAvg"]] #원하는 열만 남기기

    df["cgcSeq"] = f"{year}{month:02}" if month < 10 else f"{year}{month}"

    return df

# 예시 사용

data = card_cs(2024, 11)

data

,mcCompany,cgcSeq,cgCardPoint1,cgCardPoint2,cgCardPoint3,cgCardPoint4,cgCardPointAvg
0,경남은행,202411,8.08,12.20,15.20,17.46,12.20
1,광주은행,202411,12.59,14.04,15.60,16.92,14.94
2,롯데카드,202411,11.10,12.86,15.96,18.02,14.93
3,부산은행,202411,11.04,12.11,14.01,15.59,12.33
4,비씨카드,202411,11.79,13.19,14.78,14.96,13.30
5,삼성카드,202411,12.25,13.04,15.51,18.00,14.79
6,신한카드,202411,11.09,12.78,15.00,17.19,14.46
7,씨티은행,202411,8.89,11.48,12.45,14.34,12.09
8,우리카드,202411,10.07,13.72,16.51,18.83,15.39
9,전북은행,202411,0.00,0.00,14.54,17.77,14.64
10,하나카드,202411,12.25,13.36,14.50,15.70,14.06
11,현대카드,202411,12.49,12.62,15.03,17.96,14.48
12,IBK기업은행,202411,8.86,12.53,15.94,17.14,14.54
13,IM뱅크,202411,10.29,12.15,14.29,15.54,12.43
14,KB국민카드,202411,11.51,12.53,14.60,16.58,14.12
15,NH농협은행,202411,11.28,12.19,14.45,16.37,13.83

## 2.2. 현금서비스_신용점수별 금리

In [70]:
def card_cash_cs(year, month):
    url = "https://gongsi.crefia.or.kr/portal/creditcard/creditcardDisclosureDetail20Ajax"

    # cgc_seq(월)을 찾기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": 1460,
        "cgcMode": 20,
        "cgcYyyy": year,
        "mcSeq": []
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    pick_month = json.loads(response.text)  # 응답 문자열 반환

    for item in pick_month['configListMm']:
        if item['cgcquarter'] == month:
            cgc_seq = item['cgcSeq']
            break  # 첫 번째로 찾은 값만 출력하고 반복문 종료

    # 실제 데이터를 추출하기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": cgc_seq,
        "cgcMode": 20,
        "cgcYyyy": year,
        "mcSeq": [31, 96, 1, 106, 14, 13, 12, 98, 502, 108, 619, 11, 97, 105, 103, 22]
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    data = json.loads(response.text)

    pick_data = data["resultList"]
    df = pd.DataFrame(pick_data)  # 모든 열을 포함하는 DataFrame 생성

    # 원하는 열만 선택
    df = df[["mcCompany", "cgcSeq", "cgMoneyPoint1", "cgMoneyPoint2", "cgMoneyPoint3"
                ,"cgMoneyPoint4", "cgMoneyPointAvg"]] #원하는 열만 남기기

    df["cgcSeq"] = f"{year}{month:02}" if month < 10 else f"{year}{month}"

    return df

# 예시 사용

data = card_cash_cs(2024, 11)

data

,mcCompany,cgcSeq,cgMoneyPoint1,cgMoneyPoint2,cgMoneyPoint3,cgMoneyPoint4,cgMoneyPointAvg
0,경남은행,202411,14.23,16.88,17.72,18.37,17.81
1,광주은행,202411,16.27,17.10,17.78,18.72,18.33
2,롯데카드,202411,15.30,16.50,17.96,19.16,18.50
3,부산은행,202411,16.34,17.48,18.26,18.37,17.94
4,비씨카드,202411,14.76,16.55,18.23,19.33,18.44
5,삼성카드,202411,14.33,15.25,17.37,19.01,17.81
6,신한카드,202411,13.75,15.08,16.95,18.67,17.66
7,씨티은행,202411,13.02,17.66,19.58,19.85,19.51
8,우리카드,202411,16.09,17.25,18.81,19.45,18.92
9,전북은행,202411,14.29,17.04,18.71,19.31,18.82
10,하나카드,202411,15.03,16.15,17.50,18.79,18.05
11,현대카드,202411,13.97,15.55,17.45,18.93,17.67
12,IBK기업은행,202411,15.63,16.67,17.37,18.01,17.72
13,IM뱅크,202411,16.68,17.62,18.07,18.20,17.86
14,KB국민카드,202411,14.54,17.11,18.23,18.97,18.38
15,NH농협은행,202411,16.67,17.47,17.89,18.89,18.42

# 3. 캐피탈

## 3.1. 신용점수별 금리

In [72]:
def capital_cs(clgc_mode, card_item, clgc_seq, clgc_yyyy):
    url = "https://gongsi.crefia.or.kr/portal/creditloan/creditloanDisclosureDetail11/ajax"

    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
          "clgcMode": clgc_mode,
          "cardItem": card_item,
          "clgcSeq": clgc_seq,
          "clgcYyyy": clgc_yyyy
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    # pick_month = json.loads(response.text)

    return response.text




# # 함수 사용 예시
clgc_mode = 11
card_item = "1,14,13,12,502,619,103,134,39,40,623,130,41,25,156,6,55,32,58,52,61,57,64"
clgc_seq = 521
clgc_yyyy = 2024

# data = get_creditloan_disclosure(clgc_mode, card_item, clgc_seq, clgc_yyyy)

# if data:
#     print(data)
#     # 데이터 처리
# else:
#     print("데이터를 가져오는 데 실패했습니다.")

capital_cs(clgc_mode, card_item, clgc_seq, clgc_yyyy)

'{"configList":[{"clgcPubDate":"2025.01.20","clgcYear":"2025","clgcYearQuarter":"2025년 1분기","clgcSeq":524,"clgcquarter":1,"clgcYearMonth":"2025년 1월"},{"clgcPubDate":"2024.12.20","clgcYear":"2024","clgcYearQuarter":"2024년 12분기","clgcSeq":521,"clgcquarter":12,"clgcYearMonth":"2024년 12월"},{"clgcPubDate":"2024.11.20","clgcYear":"2024","clgcYearQuarter":"2024년 11분기","clgcSeq":518,"clgcquarter":11,"clgcYearMonth":"2024년 11월"},{"clgcPubDate":"2024.10.18","clgcYear":"2024","clgcYearQuarter":"2024년 10분기","clgcSeq":514,"clgcquarter":10,"clgcYearMonth":"2024년 10월"},{"clgcPubDate":"2024.09.20","clgcYear":"2024","clgcYearQuarter":"2024년 9분기","clgcSeq":511,"clgcquarter":9,"clgcYearMonth":"2024년 9월"},{"clgcPubDate":"2024.08.20","clgcYear":"2024","clgcYearQuarter":"2024년 8분기","clgcSeq":508,"clgcquarter":8,"clgcYearMonth":"2024년 8월"},{"clgcPubDate":"2024.07.19","clgcYear":"2024","clgcYearQuarter":"2024년 7분기","clgcSeq":504,"clgcquarter":7,"clgcYearMonth":"2024년 7월"},{"clgcPubDate":"2024.06.20","clgcYear":"2024","clgcYearQuarter":"2024년 6분기","clgcSeq":500,"clgcquarter":6,"clgcYearMonth":"2024년 6월"},{"clgcPubDate":"2024.05.20","clgcYear":"2024","clgcYearQuarter":"2024년 5분기","clgcSeq":497,"clgcquarter":5,"clgcYearMonth":"2024년 5월"},{"clgcPubDate":"2024.04.19","clgcYear":"2024","clgcYearQuarter":"2024년 4분기","clgcSeq":493,"clgcquarter":4,"clgcYearMonth":"2024년 4월"},{"clgcPubDate":"2024.03.20","clgcYear":"2024","clgcYearQuarter":"2024년 3분기","clgcSeq":490,"clgcquarter":3,"clgcYearMonth":"2024년 3월"},{"clgcPubDate":"2024.02.20","clgcYear":"2024","clgcYearQuarter":"2024년 2분기","clgcSeq":487,"clgcquarter":2,"clgcYearMonth":"2024년 2월"},{"clgcPubDate":"2024.01.19","clgcYear":"2024","clgcYearQuarter":"2024년 1분기","clgcSeq":483,"clgcquarter":1,"clgcYearMonth":"2024년 1월"},{"clgcPubDate":"2023.12.20","clgcYear":"2023","clgcYearQuarter":"2023년 12분기","clgcSeq":480,"clgcquarter":12,"clgcYearMonth":"2023년 12월"},{"clgcPubDate":"2023.11.20","clgcYear":"2023","clgcYearQuarter":"2023년 11분기","clgcSeq":477,"clgcquarter":11,"clgcYearMonth":"2023년 11월"},{"clgcPubDate":"2023.10.20","clgcYear":"2023","clgcYearQuarter":"2023년 10분기","clgcSeq":473,"clgcquarter":10,"clgcYearMonth":"2023년 10월"},{"clgcPubDate":"2023.09.20","clgcYear":"2023","clgcYearQuarter":"2023년 9분기","clgcSeq":469,"clgcquarter":9,"clgcYearMonth":"2023년 9월"},{"clgcPubDate":"2023.08.18","clgcYear":"2023","clgcYearQuarter":"2023년 8분기","clgcSeq":466,"clgcquarter":8,"clgcYearMonth":"2023년 8월"},{"clgcPubDate":"2023.07.20","clgcYear":"2023","clgcYearQuarter":"2023년 7분기","clgcSeq":462,"clgcquarter":7,"clgcYearMonth":"2023년 7월"},{"clgcPubDate":"2023.06.20","clgcYear":"2023","clgcYearQuarter":"2023년 6분기","clgcSeq":459,"clgcquarter":6,"clgcYearMonth":"2023년 6월"},{"clgcPubDate":"2023.05.19","clgcYear":"2023","clgcYearQuarter":"2023년 5분기","clgcSeq":456,"clgcquarter":5,"clgcYearMonth":"2023년 5월"},{"clgcPubDate":"2023.04.20","clgcYear":"2023","clgcYearQuarter":"2023년 4분기","clgcSeq":452,"clgcquarter":4,"clgcYearMonth":"2023년 4월"},{"clgcPubDate":"2023.03.20","clgcYear":"2023","clgcYearQuarter":"2023년 3분기","clgcSeq":449,"clgcquarter":3,"clgcYearMonth":"2023년 3월"},{"clgcPubDate":"2023.02.20","clgcYear":"2023","clgcYearQuarter":"2023년 2분기","clgcSeq":446,"clgcquarter":2,"clgcYearMonth":"2023년 2월"},{"clgcPubDate":"2023.01.20","clgcYear":"2023","clgcYearQuarter":"2023년 1분기","clgcSeq":442,"clgcquarter":1,"clgcYearMonth":"2023년 1월"},{"clgcPubDate":"2022.12.20","clgcYear":"2022","clgcYearQuarter":"2022년 12분기","clgcSeq":438,"clgcquarter":12,"clgcYearMonth":"2022년 12월"},{"clgcPubDate":"2022.11.18","clgcYear":"2022","clgcYearQuarter":"2022년 11분기","clgcSeq":435,"clgcquarter":11,"clgcYearMonth":"2022년 11월"},{"clgcPubDate":"2022.10.20","clgcYear":"2022","clgcYearQuarter":"2022년 10분기","clgcSeq":431,"clgcquarter":10,"clgcYearMonth":"2022년 10월"},{"clgcPubDate":"2022.09.20","clgcYear":"2022","clgcYearQuarter":"2022년 9분기","clgcSeq":428,"clgcquarter":9,"clgcYearMonth":"2022년 9월"}],"configListMm":[{"clgcPubDate":"2024.12.20","clgcMm":"12월","clgcYear":"2024","clgcYearQuarter":"2024년 12분기","clgcSeq":521,"clgcYyyy":"2024년 ","clgcquarter":12,"clgcYearMonth":"2024년 12월"},{"clgcPubDate":"2024.11.20","clgcMm":"11월","clgcYear":"2024","clgcYearQuarter":"2024년 11분기","clgcSeq":518,"clgcYyyy":"2024년 ","clgcquarter":11,"clgcYearMonth":"2024년 11월"},{"clgcPubDate":"2024.10.18","clgcMm":"10월","clgcYear":"2024","clgcYearQuarter":"2024년 10분기","clgcSeq":514,"clgcYyyy":"2024년 ","clgcquarter":10,"clgcYearMonth":"2024년 10월"},{"clgcPubDate":"2024.09.20","clgcMm":"09월","clgcYear":"2024","clgcYearQuarter":"2024년 9분기","clgcSeq":511,"clgcYyyy":"2024년 ","clgcquarter":9,"clgcYearMonth":"2024년 9월"},{"clgcPubDate":"2024.08.20","clgcMm":"08월","clgcYear":"2024","clgcYearQuarter":"2024년 8분기","clgcSeq":508,"clgcYyyy":"2024년 ","clgcquarter":8,"clgcYearMonth":"2024년 8월"},{"clgcPubDate":"2024.07.19","clgcMm":"07월","clgcYear":"2024","clgcYearQuarter":"2024년 7분기","clgcSeq":504,"clgcYyyy":"2024년 ","clgcquarter":7,"clgcYearMonth":"2024년 7월"},{"clgcPubDate":"2024.06.20","clgcMm":"06월","clgcYear":"2024","clgcYearQuarter":"2024년 6분기","clgcSeq":500,"clgcYyyy":"2024년 ","clgcquarter":6,"clgcYearMonth":"2024년 6월"},{"clgcPubDate":"2024.05.20","clgcMm":"05월","clgcYear":"2024","clgcYearQuarter":"2024년 5분기","clgcSeq":497,"clgcYyyy":"2024년 ","clgcquarter":5,"clgcYearMonth":"2024년 5월"},{"clgcPubDate":"2024.04.19","clgcMm":"04월","clgcYear":"2024","clgcYearQuarter":"2024년 4분기","clgcSeq":493,"clgcYyyy":"2024년 ","clgcquarter":4,"clgcYearMonth":"2024년 4월"},{"clgcPubDate":"2024.03.20","clgcMm":"03월","clgcYear":"2024","clgcYearQuarter":"2024년 3분기","clgcSeq":490,"clgcYyyy":"2024년 ","clgcquarter":3,"clgcYearMonth":"2024년 3월"},{"clgcPubDate":"2024.02.20","clgcMm":"02월","clgcYear":"2024","clgcYearQuarter":"2024년 2분기","clgcSeq":487,"clgcYyyy":"2024년 ","clgcquarter":2,"clgcYearMonth":"2024년 2월"},{"clgcPubDate":"2024.01.19","clgcMm":"01월","clgcYear":"2024","clgcYearQuarter":"2024년 1분기","clgcSeq":483,"clgcYyyy":"2024년 ","clgcquarter":1,"clgcYearMonth":"2024년 1월"}],"configListYyyy":[{"clgcYear":"2025","clgcYyyy":"2025년"},{"clgcYear":"2024","clgcYyyy":"2024년"},{"clgcYear":"2023","clgcYyyy":"2023년"},{"clgcYear":"2022","clgcYyyy":"2022년"}],"commonList":[{"sortOrdr":1,"detailCode":"1","detailCodeNm":"NICE","mastrCode":"CM054"},{"sortOrdr":2,"detailCode":"2","detailCodeNm":"KIS","mastrCode":"CM054"},{"sortOrdr":3,"detailCode":"3","detailCodeNm":"KCB","mastrCode":"CM054"}],"params":{"cardItem":"1,14,13,12,502,619,103,134,39,40,623,130,41,25,156,6,55,32,58,52,61,57,64","cardList":["1","14","13","12","502","619","103","134","39","40","623","130","41","25","156","6","55","32","58","52","61","57","64"],"clgcYear":"2024","isGrade":true,"clgcSeq":521,"coCodeId":"CM054","clgcYyyy":"2024","clgcMode":"11"},"loanMap":{"clgcCompanyMemberYN":"N","clgcNotice":"\\r\\n\\t\\t\\t\\t\\r\\n\\t\\t\\t\\t\\t\\r\\n\\t\\t\\t\\t\\t\\t<div>동 공시정보는 전월 중 신규 취급 개인신용대출 차주의 신용점수 구간별 평균금리 현황을 제공하고 있습니다.</div><div><br></div><div>※ 신용카드사의 현금서비스, 카드론, 결제성<span style=\\"font-size: 10pt;\\">&nbsp;리볼빙 제외</span></div><div><br></div><div><br></div><div>공시자료는 비교공시를 위한 신용평가회사의 신용점수를 기준으로 공시하고 있으며</div><div>고객이 실제 대출시 적용되는 여신전문금융회사의 자체 신용등급과는 다를 수 있습니다.</div><div><br></div><div>본인의 금리·거래조건 등 상세내용은 해당 금융회사(홈페이지, 대출모집인, 대리점 등)를 통해 안내받으시기 바랍니다.</div><div><br style=\\"font-size: 13.3333px;\\"></div>\\r\\n\\t\\t\\t\\t\\t\\r\\n\\t\\t\\t\\t\\t\\r\\n\\t\\t\\t\\t\\r\\n\\t\\t\\t\\t\\r\\n\\t\\t\\t","clgcPubDate":"2024년12월20일","clgcSeq":521,"clgcStdDate":"2024년11월30일","RN":1,"clgcPubDatetime":"20241220"},"resultList":[{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733898090343,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"롯데카드","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"15.73","clgPoint3":"15.68","clgPoint4":"18.70","clgPoint5":"0.00","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":1,"mcCompany":"롯데카드","clgPointAvg":"15.72","clgPoint1":"15.07","clgModDate":1734668165287,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733786914467,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"1","clgRegId":"20181008","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"12.25","clgPoint3":"15.30","clgPoint4":"11.96","clgPoint5":"0.00","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":14,"mcCompany":"비씨카드","clgPointAvg":"11.53","clgPoint1":"10.28","clgModDate":1734668165347,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733981840447,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"ecskh","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"12.82","clgPoint3":"15.56","clgPoint4":"18.05","clgPoint5":"18.82","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":13,"mcCompany":"삼성카드","clgPointAvg":"14.30","clgPoint1":"12.19","clgModDate":1734668165363,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733881065620,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"rpt03","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"13.69","clgPoint3":"15.52","clgPoint4":"16.78","clgPoint5":"17.27","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":12,"mcCompany":"신한카드","clgPointAvg":"14.09","clgPoint1":"11.44","clgModDate":1734668165380,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1734076244270,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"rpt24","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"0.00","clgPoint3":"19.90","clgPoint4":"0.00","clgPoint5":"0.00","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":502,"mcCompany":"우리카드","clgPointAvg":"19.90","clgPoint1":"0.00","clgModDate":1734668165433,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1734323239227,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"1","clgRegId":"yiyaah","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"14.39","clgPoint3":"16.22","clgPoint4":"17.41","clgPoint5":"0.00","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":619,"mcCompany":"하나카드","clgPointAvg":"15.12","clgPoint1":"9.90","clgModDate":1734668165443,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733986882430,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"biniro","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"13.43","clgPoint3":"15.10","clgPoint4":"16.24","clgPoint5":"16.79","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":103,"mcCompany":"KB국민카드","clgPointAvg":"14.60","clgPoint1":"12.51","clgModDate":1734668165550,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733905513047,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"dgbfncapital","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"16.23","clgPoint2":"13.13","clgPoint3":"14.90","clgPoint4":"16.02","clgPoint5":"17.70","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":134,"mcCompany":"아이엠캐피탈","clgPointAvg":"14.85","clgPoint1":"12.07","clgModDate":1734668165393,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733990847170,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"1","clgRegId":"aprook6419","clgPoint6":"0.00","clgPoint7":"00.00","clgPoint8":"00.00","clgPoint2":"19.99","clgPoint3":"19.99","clgPoint4":"19.99","clgPoint5":"0.00","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":39,"mcCompany":"오케이캐피탈","clgPointAvg":"19.99","clgPoint1":"17.99","clgModDate":1734668165403,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1734076871613,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"1","clgRegId":"hkc0017","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"17.67","clgPoint3":"18.34","clgPoint4":"18.59","clgPoint5":"18.95","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":40,"mcCompany":"한국캐피탈","clgPointAvg":"18.14","clgPoint1":"16.32","clgModDate":1734668165477,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733899758290,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"1,3","clgRegId":"kicf1212","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"13.62","clgPoint3":"14.60","clgPoint4":"16.10","clgPoint5":"15.78","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":623,"mcCompany":"한국투자캐피탈","clgPointAvg":"14.81","clgPoint1":"12.92","clgModDate":1734668165490,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1734070824227,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"bnkcapi","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"13.19","clgPoint3":"13.41","clgPoint4":"13.94","clgPoint5":"14.82","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":130,"mcCompany":"BNK캐피탈","clgPointAvg":"13.44","clgPoint1":"12.73","clgModDate":1734668165527,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1734334643040,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"1,3","clgRegId":"KBCAPITAL","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"13.08","clgPoint3":"15.21","clgPoint4":"16.20","clgPoint5":"0.00","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":41,"mcCompany":"KB캐피탈","clgPointAvg":"13.47","clgPoint1":"11.98","clgModDate":1734668165563,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733990570090,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"롯데캐피탈","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"13.18","clgPoint3":"14.96","clgPoint4":"16.63","clgPoint5":"17.16","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":25,"mcCompany":"롯데캐피탈","clgPointAvg":"14.42","clgPoint1":"11.50","clgModDate":1734668165307,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733805618310,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"meritzcapital","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"17.61","clgPoint3":"19.71","clgPoint4":"19.83","clgPoint5":"19.80","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":156,"mcCompany":"메리츠캐피탈","clgPointAvg":"19.61","clgPoint1":"0.00","clgModDate":1734668165320,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733893007607,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"1","clgRegId":"woorifc8109","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"13.27","clgPoint3":"14.30","clgPoint4":"14.86","clgPoint5":"0.00","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":6,"mcCompany":"우리금융캐피탈","clgPointAvg":"13.59","clgPoint1":"12.51","clgModDate":1734668165420,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1734052662877,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"1","clgRegId":"juhee0810","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"11.62","clgPoint3":"12.44","clgPoint4":"13.06","clgPoint5":"0.00","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":55,"mcCompany":"하나캐피탈","clgPointAvg":"11.95","clgPoint1":"11.47","clgModDate":1734668165460,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1734071611550,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"hyundaicapital","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"13.63","clgPoint3":"15.35","clgPoint4":"16.81","clgPoint5":"17.51","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":32,"mcCompany":"현대캐피탈","clgPointAvg":"15.08","clgPoint1":"12.39","clgModDate":1734668165500,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733971027813,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"hyundaicommercial","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"12.62","clgPoint3":"13.55","clgPoint4":"12.70","clgPoint5":"0.00","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":58,"mcCompany":"현대커머셜","clgPointAvg":"12.93","clgPoint1":"12.21","clgModDate":1734668165513,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1734064735707,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"wrc2","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"16.19","clgPoint3":"17.61","clgPoint4":"18.64","clgPoint5":"19.38","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":52,"mcCompany":"JB우리캐피탈","clgPointAvg":"17.80","clgPoint1":"15.54","clgModDate":1734668165540,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733809404790,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"nhcap","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"11.09","clgPoint3":"12.39","clgPoint4":"13.41","clgPoint5":"13.44","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":61,"mcCompany":"NH농협캐피탈","clgPointAvg":"11.68","clgPoint1":"9.96","clgModDate":1734668165573,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1733877694500,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"1","clgRegId":"ik22004","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"13.70","clgPoint3":"0.00","clgPoint4":"0.00","clgPoint5":"0.00","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":57,"mcCompany":"RCI파이낸셜","clgPointAvg":"13.77","clgPoint1":"13.80","clgModDate":1734668165590,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"},{"mcMemberType":1,"clgModId":"doosg91","clgRegDate":1734052588950,"clgInterestAvg":"","clgGrade10":"","clgcSeq":"521","clgBigo":"3","clgRegId":"miraec2","clgPoint6":"0.00","clgPoint7":"0.00","clgPoint8":"0.00","clgPoint2":"11.35","clgPoint3":"11.83","clgPoint4":"0.00","clgPoint5":"0.00","clgGrade1":"","clgGrade4":"","clgGrade5":"","clgGrade6":"","mcSeq":64,"mcCompany":"미래에셋캐피탈","clgPointAvg":"10.79","clgPoint1":"10.55","clgModDate":1734668165337,"clgPublish":"Y","clgSeq":1,"mcUseYN":"Y"}]}'

# 4. 은행

## 4.1.

SSL 오류: [SSL: WRONG_SIGNATURE_TYPE] wrong signature type (_ssl.c:1006)