<a href="https://colab.research.google.com/github/kty0307/Blog/blob/main/GPTs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 저축은행

## 1.1. 신용점수별 금리

- 조건
  - 가계신용대출, 저축은행별금리현황 -> 취급금액전체, 2025년 1월

In [ ]:
import requests
import json

def crawl_fsb_data(year, month):
  """
  fsb.or.kr 웹사이트에서 데이터를 크롤링하는 함수

  Args:
    year (int): 년도
    month (int): 월

  Returns:
    dict: 크롤링된 데이터 (JSON 형식)
  """

  url = "https://www.fsb.or.kr/ratloanconf_0200.jct"
  payload = {
      "_JSON_": json.dumps({
          "SORT_COLUMN": "",
          "SORT": "",
          "PRE_MONTH_MONEY": "",
          "SUBMIT_MONTH": f"{year:04d}{month:02d}"
      })
  }

  response = requests.post(url, data=payload)

  if response.status_code == 200:
    try:
      # 응답 데이터를 JSON 형식으로 파싱
      data = response.json()
      return data
    except json.JSONDecodeError:
      print("Error: Invalid JSON response")
      return None
  else:
    print(f"Error: HTTP {response.status_code}")
    return None

if __name__ == "__main__":
  year = 2025
  month = 1

  crawled_data = crawl_fsb_data(year, month)

  if crawled_data:
    # 크롤링된 데이터 출력 (예시)
    print(crawled_data)

    # TODO: 크롤링된 데이터를 파일에 저장하거나 추가 처리
  else:
    print("Failed to crawl data.")

In [ ]:
def create_dataframe_from_json(json_data):
  """
  JSON 데이터를 입력받아 특정 열을 가진 Pandas DataFrame으로 변환합니다.

  Args:
    json_data: JSON 형식의 문자열 또는 Python 객체 (dict, list)

  Returns:
    Pandas DataFrame: 필요한 열을 가진 DataFrame. 오류 발생 시 None 반환.
  """
  try:
    # JSON 데이터 파싱
    if isinstance(json_data, str):
      data = json.loads(json_data)
    else:  # dict or list
      data = json_data

    # 데이터 추출 및 DataFrame 생성
    df = pd.DataFrame(data['REC'])
    df = df[['BANK_NAME', 'SUBMIT_MONTH', 'A_RATE1_3', 'A_RATE1', 'A_RATE2',
              'A_RATE3', 'A_RATE_AVE']]

    return df

  except (json.JSONDecodeError, KeyError, TypeError) as e:
    print(f"Error processing JSON data: {e}")
    return None

## 1.2. 금리대별 취급비중

In [ ]:
import requests
import json

def fetch_fsb_loan_data(year, month):
    """
    금융위원회 대출금리 공시 페이지에서 데이터를 받아오는 함수 (파싱 없이).

    Args:
        year (int): 년도 (YYYY 형식)
        month (int): 월 (MM 형식)

    Returns:
        str: JSON 응답 문자열
        None: 오류 발생 시
    """

    url = "https://www.fsb.or.kr/ratloanconf_0300.jct"

    payload = {
        "SORT": "",
        "SUBMIT_MONTH": f"{year}{month:02}"
    }

    try:
        response = requests.post(url, data={"_JSON_": json.dumps(payload)})
        response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

        return response.text  # JSON 응답 문자열 반환

    except requests.exceptions.RequestException as e:
        print(f"Error: {e}")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None

# 예시 사용
year = 2025
month = 1

data = fetch_fsb_loan_data(year, month)

if data:
    print(data)  # JSON 문자열 출력 (raw data)
    # 필요하다면 이후에 JSON 파싱 및 데이터 추출 작업 수행
    try:
        json_data = json.loads(data) #JSON 파싱
        #print(json.dumps(json_data, indent=4, ensure_ascii=False)) #JSON 데이터 예쁘게 출력
    except json.JSONDecodeError:
        print("Error: Invalid JSON response")
else:
    print("Failed to fetch data.")

In [7]:
import json
import pandas as pd

def process_json_data(json_string):
    """
    JSON 문자열을 파싱하여 DataFrame으로 변환하고, 원하는 열만 남기는 함수.

    Args:
        json_string (str): JSON 문자열

    Returns:
        pandas.DataFrame: 변환된 DataFrame (원하는 열만 남은 상태)
        None: JSON 파싱 오류 또는 데이터 추출 오류 시
    """
    try:
        data = json.loads(json_string)

        if not isinstance(data, dict) or "REC" not in data or not isinstance(data["REC"], list):
            print("Invalid JSON format: 'REC' key not found or not a list.")
            return None

        rec_data = data["REC"]
        df = pd.DataFrame(rec_data)  # 모든 열을 포함하는 DataFrame 생성

        # 원하는 열만 선택
        desired_columns = ["BANK_NAME", "SUBMIT_MONTH", "HANDING_WEIGHT_10", "HANDING_WEIGHT_12", "HANDING_WEIGHT_14"
                            ,"HANDING_WEIGHT_16", "HANDING_WEIGHT_18", "HANDING_WEIGHT_20"]
        df = df[desired_columns] #원하는 열만 남기기

        return df

    except json.JSONDecodeError:
        print("Error: Invalid JSON string")
        return None
    except KeyError as e:  # KeyError 추가
        print(f"Error: Key '{e}' not found in JSON data")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None

process_json_data(data)

,BANK_NAME,SUBMIT_MONTH,HANDING_WEIGHT_10,HANDING_WEIGHT_12,HANDING_WEIGHT_14,HANDING_WEIGHT_16,HANDING_WEIGHT_18,HANDING_WEIGHT_20
0,BNK,202501,0.69,27.67,36.64,34.99,0.01,0
1,DB,202501,NaN,67.98,28,3.03,0.99,NaN
2,IBK,202501,NaN,11.87,36.15,12.77,11.74,27.47
3,JT,202501,0.18,29.79,13.19,46.16,7.71,2.97
4,JT친애,202501,NaN,0.59,36.54,37.86,15.63,9.38
5,KB,202501,1.73,6.47,24.96,17.6,18.79,30.45
6,NH,202501,0,49.87,28.55,15.68,5.27,0.63
7,OK,202501,0.01,0.32,5.18,29.15,31.99,33.35
8,OSB,202501,NaN,NaN,29.8,30.55,7.97,31.68
9,SBI,202501,0.96,11.64,35.99,28.17,16.19,7.05
10,고려,202501,NaN,25.34,42.76,20.27,6.35,5.28
11,다올,202501,1.09,24.06,13.18,11.35,43.3,7.02
12,동양,202501,NaN,NaN,NaN,32.62,63.86,3.52
13,모아,202501,NaN,NaN,NaN,1.52,21.09,77.39
14,민국,202501,NaN,NaN,100,NaN,NaN,NaN
15,삼호,202501,NaN,0.24,0.49,1.72,10.77,86.78
16,상상인플러스,202501,NaN,NaN,NaN,NaN,7.82,92.18
17,세람,202501,NaN,12.3,26.68,12.55,24,24.47
18,스마트,202501,NaN,10.57,37.44,31.19,18.34,2.46
19,스타,202501,0,0,0,12.1,7.77,80.13
20,신한,202501,0.53,1.99,6.85,30.79,42.98,16.86
21,애큐온,202501,NaN,NaN,0.33,37.67,39.69,22.31
22,엠에스,202501,NaN,NaN,NaN,5.05,66.2,28.75
23,예가람,202501,7.41,17.88,25.89,20.02,21.37,7.43
24,우리,202501,55.71,44.29,0,0,0,0
25,우리금융,202501,0.77,7.07,24.68,44.39,22.19,0.9
26,웰컴,202501,0,1.29,10.3,22.35,19.79,46.27
27,청주,202501,NaN,NaN,NaN,1.6,18.85,79.55
28,키움,202501,0,36.16,22.41,18.65,10.96,11.82
29,키움YES,202501,NaN,19.9,28.42,30.94,14.02,6.72
30,페퍼,202501,NaN,7.84,18.83,16,22.38,34.95
31,푸른,202501,100,0,0,0,0,0
32,하나,202501,0,5.46,36.53,38.43,18.35,1.23
33,한국투자,202501,NaN,1.74,28.42,20.68,38.21,10.95
34,한성,202501,NaN,NaN,NaN,3.51,35.84,60.65
35,한화,202501,2.17,58.62,30.98,6.87,1.16,0.2

# 2. 신용카드

## 2.1. 신용점수별 금리

In [27]:
import requests
import certifi
import ssl


class TLSAdapter(requests.adapters.HTTPAdapter):
    def init_poolmanager(self, *args, **kwargs):
        ctx = ssl.create_default_context()
        ctx.set_ciphers("AES128-SHA256")
        kwargs["ssl_context"] = ctx
        return super(TLSAdapter, self).init_poolmanager(*args, **kwargs)


def fetch_crefia_data(cgcYyyy):
    """
    여신금융협회 공시 페이지에서 데이터를 받아오는 함수 (파싱 없이).

    Args:
        cgcSeq (int): cgcSeq 값
        cgcMode (int): cgcMode 값
        cgcYyyy (int): cgcYyyy 값
        mcSeq_list (list): mcSeq 값들의 리스트

    Returns:
        str: 응답 문자열
        None: 오류 발생 시
    """

    url = "https://gongsi.crefia.or.kr/portal/creditcard/creditcardDisclosureDetail25Ajax"

    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": 1458,
        "cgcMode": 25,
        "cgcYyyy": cgcYyyy,
        "mcSeq": []
      }

      # mcSeq 파라미터 처리
      # for mcSeq in mcSeq_list:
      #     params[f"mcSeq"] = mcSeq  # mcSeq는 여러 번 반복될 수 있음

      try:
          response = s.get(url, params=params, verify=certifi.where())
          response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

      except requests.exceptions.RequestException as e:
          print(f"Error: {e}")
      except Exception as e:
          print(f"An unexpected error occurred: {e}")

    response


# 예시 사용

data = fetch_crefia_data(2024)

if data:
    print(data)  # 응답 문자열 출력 (raw data)
    # 필요하다면 이후에 파싱 및 데이터 추출 작업 수행
else:
    print("Failed to fetch data.")

{"mcSeq":[],"configListMm":[{"cgcYearMonth":"2024년 12월","cgcYyyy":"2024년","cgcSeq":1451,"cgcquarter":12,"cgcMm":"12월","cgcYearQuarter":"2024년 12분기","cgcYear":"2024","cgcPubDate":"2024.12.20"},{"cgcYearMonth":"2024년 11월","cgcYyyy":"2024년","cgcSeq":1439,"cgcquarter":11,"cgcMm":"11월","cgcYearQuarter":"2024년 11분기","cgcYear":"2024","cgcPubDate":"2024.11.20"},{"cgcYearMonth":"2024년 10월","cgcYyyy":"2024년","cgcSeq":1422,"cgcquarter":10,"cgcMm":"10월","cgcYearQuarter":"2024년 10분기","cgcYear":"2024","cgcPubDate":"2024.10.18"},{"cgcYearMonth":"2024년 9월","cgcYyyy":"2024년","cgcSeq":1411,"cgcquarter":9,"cgcMm":"09월","cgcYearQuarter":"2024년 9분기","cgcYear":"2024","cgcPubDate":"2024.09.20"},{"cgcYearMonth":"2024년 8월","cgcYyyy":"2024년","cgcSeq":1400,"cgcquarter":8,"cgcMm":"08월","cgcYearQuarter":"2024년 8분기","cgcYear":"2024","cgcPubDate":"2024.08.20"},{"cgcYearMonth":"2024년 7월","cgcYyyy":"2024년","cgcSeq":1383,"cgcquarter":7,"cgcMm":"07월","cgcYearQuarter":"2024년 7분기","cgcYear":"2024","cgcPubDate":"2024.07.19"},{"cgcYearMonth":"2024년 6월","cgcYyyy":"2024년","cgcSeq":1372,"cgcquarter":6,"cgcMm":"06월","cgcYearQuarter":"2024년 6분기","cgcYear":"2024","cgcPubDate":"2024.06.20"},{"cgcYearMonth":"2024년 5월","cgcYyyy":"2024년","cgcSeq":1356,"cgcquarter":5,"cgcMm":"05월","cgcYearQuarter":"2024년 5분기","cgcYear":"2024","cgcPubDate":"2024.05.20"},{"cgcYearMonth":"2024년 4월","cgcYyyy":"2024년","cgcSeq":1348,"cgcquarter":4,"cgcMm":"04월","cgcYearQuarter":"2024년 4분기","cgcYear":"2024","cgcPubDate":"2024.04.19"},{"cgcYearMonth":"2024년 3월","cgcYyyy":"2024년","cgcSeq":1330,"cgcquarter":3,"cgcMm":"03월","cgcYearQuarter":"2024년 3분기","cgcYear":"2024","cgcPubDate":"2024.03.20"},{"cgcYearMonth":"2024년 2월","cgcYyyy":"2024년","cgcSeq":1319,"cgcquarter":2,"cgcMm":"02월","cgcYearQuarter":"2024년 2분기","cgcYear":"2024","cgcPubDate":"2024.02.20"},{"cgcYearMonth":"2024년 1월","cgcYyyy":"2024년","cgcSeq":1305,"cgcquarter":1,"cgcMm":"01월","cgcYearQuarter":"2024년 1분기","cgcYear":"2024","cgcPubDate":"2024.01.19"}],"isGrade":true,"coCodeId":"CM054","cardMap":{"cgcStdDate":"20241231","cgcCompanyMemberYN":"N","cgcSeq":1458,"cgcQuarter":1,"cgcNotice":"\r\n\t\t\t\t\t\r\n\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\r\n\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t<div>동 공시정보는 신용카드사 및 겸영은행의 전월중 신규취급된 장기카드대출(카드론)의 평균수수료율*&nbsp; 현황을 개략적으로 비교할 수 있도록 참고로 제공합니다.</div><div>* 평균 수수료율은 전월중 신규 취급(추가대출, 기간연장 미포함) 대상회원의 대출금액에 따른 가중평균 수수료율을 말함.</div><div><br></div><div>공시자료는 비교공시를 위하여 외부 신용평가사 신용점수를 기준으로 평균 수수료율을 제공하고 있으므로 실제 대출시 카드사 및 겸영은행의 신용점수 적용 기준과는 다를 수 있으며, 본인의 수수료율, 거래조건 등 상세내용은 해당 금융회사로 문의하시기 바랍니다.</div><div><br></div><div>※ 직전 월 취급한 장기카드대출 수수료율의 평균이므로 공시일 현재 적용되는 수수료율과는 다를 수 있습니다.</div><div>※ 일부 신용평점 구간에 취급액 또는 차주수가 적은 경우 금리가 다소 높게 나타날 수 있습니다.</div><div><br style=\"font-size: 13.3333px;\"></div>\r\n\t\t\t\t\t\t\r\n\t\t\t\t\t\t\r\n\t\t\t\t\t\r\n\t\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\t\t\r\n\t\t\t\t\t\t\r\n\t\t\t\t\t\r\n\t\t\t\t\t\r\n\t\t\t\t","cgcYear":"2025","cgcPubDate":"2025.01.20"},"configList":[{"cgcYearMonth":"2025년 1월","cgcYyyy":"2025년","cgcSeq":1458,"cgcquarter":1,"cgcMm":"01월","cgcYearQuarter":"2025년 1분기","cgcYear":"2025","cgcPubDate":"2025.01.20"},{"cgcYearMonth":"2024년 12월","cgcYyyy":"2024년","cgcSeq":1451,"cgcquarter":12,"cgcMm":"12월","cgcYearQuarter":"2024년 12분기","cgcYear":"2024","cgcPubDate":"2024.12.20"},{"cgcYearMonth":"2024년 11월","cgcYyyy":"2024년","cgcSeq":1439,"cgcquarter":11,"cgcMm":"11월","cgcYearQuarter":"2024년 11분기","cgcYear":"2024","cgcPubDate":"2024.11.20"},{"cgcYearMonth":"2024년 10월","cgcYyyy":"2024년","cgcSeq":1422,"cgcquarter":10,"cgcMm":"10월","cgcYearQuarter":"2024년 10분기","cgcYear":"2024","cgcPubDate":"2024.10.18"},{"cgcYearMonth":"2024년 9월","cgcYyyy":"2024년","cgcSeq":1411,"cgcquarter":9,"cgcMm":"09월","cgcYearQuarter":"2024년 9분기","cgcYear":"2024","cgcPubDate":"2024.09.20"},{"cgcYearMonth":"2024년 8월","cgcYyyy":"2024년","cgcSeq":1400,"cgcquarter":8,"cgcMm":"08월","cgcYearQuarter":"2024년 8분기","cgcYear":"2024","cgcPubDate":"2024.08.20"},{"cgcYearMonth":"2024년 7월","cgcYyyy":"2024년","cgcSeq":1383,"cgcquarter":7,"cgcMm":"07월","cgcYearQuarter":"2024년 7분기","cgcYear":"2024","cgcPubDate":"2024.07.19"},{"cgcYearMonth":"2024년 6월","cgcYyyy":"2024년","cgcSeq":1372,"cgcquarter":6,"cgcMm":"06월","cgcYearQuarter":"2024년 6분기","cgcYear":"2024","cgcPubDate":"2024.06.20"},{"cgcYearMonth":"2024년 5월","cgcYyyy":"2024년","cgcSeq":1356,"cgcquarter":5,"cgcMm":"05월","cgcYearQuarter":"2024년 5분기","cgcYear":"2024","cgcPubDate":"2024.05.20"},{"cgcYearMonth":"2024년 4월","cgcYyyy":"2024년","cgcSeq":1348,"cgcquarter":4,"cgcMm":"04월","cgcYearQuarter":"2024년 4분기","cgcYear":"2024","cgcPubDate":"2024.04.19"},{"cgcYearMonth":"2024년 3월","cgcYyyy":"2024년","cgcSeq":1330,"cgcquarter":3,"cgcMm":"03월","cgcYearQuarter":"2024년 3분기","cgcYear":"2024","cgcPubDate":"2024.03.20"},{"cgcYearMonth":"2024년 2월","cgcYyyy":"2024년","cgcSeq":1319,"cgcquarter":2,"cgcMm":"02월","cgcYearQuarter":"2024년 2분기","cgcYear":"2024","cgcPubDate":"2024.02.20"},{"cgcYearMonth":"2024년 1월","cgcYyyy":"2024년","cgcSeq":1305,"cgcquarter":1,"cgcMm":"01월","cgcYearQuarter":"2024년 1분기","cgcYear":"2024","cgcPubDate":"2024.01.19"},{"cgcYearMonth":"2023년 12월","cgcYyyy":"2023년","cgcSeq":1282,"cgcquarter":12,"cgcMm":"12월","cgcYearQuarter":"2023년 12분기","cgcYear":"2023","cgcPubDate":"2023.12.20"},{"cgcYearMonth":"2023년 11월","cgcYyyy":"2023년","cgcSeq":1271,"cgcquarter":11,"cgcMm":"11월","cgcYearQuarter":"2023년 11분기","cgcYear":"2023","cgcPubDate":"2023.11.20"},{"cgcYearMonth":"2023년 10월","cgcYyyy":"2023년","cgcSeq":1254,"cgcquarter":10,"cgcMm":"10월","cgcYearQuarter":"2023년 10분기","cgcYear":"2023","cgcPubDate":"2023.10.20"},{"cgcYearMonth":"2023년 9월","cgcYyyy":"2023년","cgcSeq":1236,"cgcquarter":9,"cgcMm":"09월","cgcYearQuarter":"2023년 9분기","cgcYear":"2023","cgcPubDate":"2023.09.20"},{"cgcYearMonth":"2023년 8월","cgcYyyy":"2023년","cgcSeq":1248,"cgcquarter":8,"cgcMm":"08월","cgcYearQuarter":"2023년 8분기","cgcYear":"2023","cgcPubDate":"2023.08.20"},{"cgcYearMonth":"2023년 7월","cgcYyyy":"2023년","cgcSeq":1210,"cgcquarter":7,"cgcMm":"07월","cgcYearQuarter":"2023년 7분기","cgcYear":"2023","cgcPubDate":"2023.07.20"},{"cgcYearMonth":"2023년 6월","cgcYyyy":"2023년","cgcSeq":1206,"cgcquarter":6,"cgcMm":"06월","cgcYearQuarter":"2023년 6분기","cgcYear":"2023","cgcPubDate":"2023.06.20"},{"cgcYearMonth":"2023년 5월","cgcYyyy":"2023년","cgcSeq":1198,"cgcquarter":5,"cgcMm":"05월","cgcYearQuarter":"2023년 5분기","cgcYear":"2023","cgcPubDate":"2023.05.19"},{"cgcYearMonth":"2023년 4월","cgcYyyy":"2023년","cgcSeq":1182,"cgcquarter":4,"cgcMm":"04월","cgcYearQuarter":"2023년 4분기","cgcYear":"2023","cgcPubDate":"2023.04.20"},{"cgcYearMonth":"2023년 3월","cgcYyyy":"2023년","cgcSeq":1172,"cgcquarter":3,"cgcMm":"03월","cgcYearQuarter":"2023년 3분기","cgcYear":"2023","cgcPubDate":"2023.03.20"},{"cgcYearMonth":"2023년 2월","cgcYyyy":"2023년","cgcSeq":1160,"cgcquarter":2,"cgcMm":"02월","cgcYearQuarter":"2023년 2분기","cgcYear":"2023","cgcPubDate":"2023.02.20"},{"cgcYearMonth":"2023년 1월","cgcYyyy":"2023년","cgcSeq":1145,"cgcquarter":1,"cgcMm":"01월","cgcYearQuarter":"2023년 1분기","cgcYear":"2023","cgcPubDate":"2023.01.20"},{"cgcYearMonth":"2022년 12월","cgcYyyy":"2022년","cgcSeq":1138,"cgcquarter":12,"cgcMm":"12월","cgcYearQuarter":"2022년 12분기","cgcYear":"2022","cgcPubDate":"2022.12.20"},{"cgcYearMonth":"2022년 11월","cgcYyyy":"2022년","cgcSeq":1130,"cgcquarter":11,"cgcMm":"11월","cgcYearQuarter":"2022년 11분기","cgcYear":"2022","cgcPubDate":"2022.11.18"},{"cgcYearMonth":"2022년 10월","cgcYyyy":"2022년","cgcSeq":1120,"cgcquarter":10,"cgcMm":"10월","cgcYearQuarter":"2022년 10분기","cgcYear":"2022","cgcPubDate":"2022.10.20"},{"cgcYearMonth":"2022년 9월","cgcYyyy":"2022년","cgcSeq":1108,"cgcquarter":9,"cgcMm":"09월","cgcYearQuarter":"2022년 9분기","cgcYear":"2022","cgcPubDate":"2022.09.20"},{"cgcYearMonth":"2022년 8월","cgcYyyy":"2022년","cgcSeq":1095,"cgcquarter":8,"cgcMm":"08월","cgcYearQuarter":"2022년 8분기","cgcYear":"2022","cgcPubDate":"2022.08.19"}],"cardList":[{"mcSeq":1,"mcReferWebPage1":"https://www.lottecard.co.kr/app/LPCMNPD_V100.lc","mcCompany":"롯데카드","mcUseYN":"Y"},{"mcSeq":14,"mcReferWebPage1":"https://www.bccard.com/app/card/ContentsLinkActn.do?pgm_id=ind1014","mcCompany":"비씨카드","mcUseYN":"Y"},{"mcSeq":13,"mcReferWebPage1":"https://www.samsungcard.com/","mcCompany":"삼성카드","mcUseYN":"Y"},{"mcSeq":12,"mcReferWebPage1":"http://www.shinhancard.com","mcCompany":"신한카드","mcUseYN":"Y"},{"mcSeq":502,"mcReferWebPage1":"https://pc.wooricard.com/dcpc/yh1/cct/cct11/prdntc/H1CCT211S03.do","mcCompany":"우리카드","mcUseYN":"Y"},{"mcSeq":619,"mcReferWebPage1":"https://www.hanacard.co.kr/OKP00500000N.web?schID=kcd&amp;mID=OKP00500000N","mcCompany":"하나카드","mcUseYN":"Y"},{"mcSeq":11,"mcReferWebPage1":"https://www.hyundaicard.com/cpu/ug/CPUUG2001_01.hc","mcCompany":"현대카드","mcUseYN":"Y"},{"mcSeq":103,"mcReferWebPage1":"https://card.kbcard.com/FNC/DVIEW/HFAMCXPRIFIC0099","mcCompany":"KB국민카드","mcUseYN":"Y"},{"mcSeq":22,"mcReferWebPage1":"https://card.nonghyup.com/so/jsp/initech/sandbox/index.jsp","mcCompany":"NH농협은행","mcUseYN":"Y"},{"mcSeq":31,"mcReferWebPage1":"https://www.knbank.co.kr/ib20/mnu/BHPCSC030410000","mcCompany":"경남은행","mcUseYN":"N"},{"mcSeq":96,"mcReferWebPage1":"https://www.kjbank.com/ib20/mnu/BHPCSCN040802","mcCompany":"광주은행","mcUseYN":"N"},{"mcSeq":106,"mcReferWebPage1":"https://www.busanbank.co.kr/ib20/mnu/FPMCRD138001004","mcCompany":"부산은행","mcUseYN":"N"},{"mcSeq":107,"mcReferWebPage1":"https://www.suhyup-bank.com/","mcCompany":"수협은행","mcUseYN":"N"},{"mcSeq":98,"mcReferWebPage1":"https://www.citibank.co.kr/CusFegnCnts0100.act","mcCompany":"씨티은행","mcUseYN":"N"},{"mcSeq":108,"mcReferWebPage1":"https://www.jbbank.co.kr/form_rule_noti_menu.act?_MENU_PRJ_TYPE_=CUSTOMER ","mcCompany":"전북은행","mcUseYN":"N"},{"mcSeq":101,"mcReferWebPage1":"https://www.e-jejubank.com/JeJuBankInfo.do?menuCd=586","mcCompany":"제주은행","mcUseYN":"N"},{"mcSeq":97,"mcReferWebPage1":"https://www.ibk.co.kr/","mcCompany":"IBK기업은행","mcUseYN":"N"},{"mcSeq":105,"mcReferWebPage1":"https://www.imbank.co.kr/com_ebz_fpm_main.act#","mcCompany":"IM뱅크","mcUseYN":"N"},{"mcSeq":109,"mcReferWebPage1":"http://www.standardchartered.co.kr","mcCompany":"SC제일은행","mcUseYN":"N"}],"configListYyyy":[{"cgcYyyy":"2025년","cgcYear":"2025"},{"cgcYyyy":"2024년","cgcYear":"2024"},{"cgcYyyy":"2023년","cgcYear":"2023"},{"cgcYyyy":"2022년","cgcYear":"2022"}],"cgcYyyy":"2024","cgcSeq":"1458","cgcMode":"25","resultList":[{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"ksj1209","mcSeq":31,"cgCardPoint6":"0.00","cgCardPointAvg":"12.43","cgCardPoint5":"0.00","cgCardPoint4":"17.01","mcCompany":"경남은행","cgCardPoint8":"0.00","cgCardPointAvg7":"17.01","cgCardPoint3":"15.13","cgRegDate":1736820532397,"cgCardPoint2":"12.43","cgSeq":11,"cgCardPoint1":"8.66","cgModDate":1737360083027,"mcReferWebPage":"https://www.knbank.co.kr/ib20/mnu/BHPCSC030410000","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"kjb6123","mcSeq":96,"cgCardPoint6":"0.00","cgCardPointAvg":"15.07","cgCardPoint5":"0.00","cgCardPoint4":"17.12","mcCompany":"광주은행","cgCardPoint8":"0.00","cgCardPointAvg7":"17.12","cgCardPoint3":"15.77","cgRegDate":1736490649297,"cgCardPoint2":"14.09","cgSeq":5,"cgCardPoint1":"12.27","cgModDate":1737360083043,"mcReferWebPage":"https://www.kjbank.com/ib20/mnu/BHPCSCN040802","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"롯데카드","mcSeq":1,"cgCardPoint6":"0.00","cgCardPointAvg":"15.42","cgCardPoint5":"18.00","cgCardPoint4":"17.05","mcCompany":"롯데카드","cgCardPoint8":"0.00","cgCardPointAvg7":"17.05","cgCardPoint3":"16.13","cgRegDate":1736730198937,"cgCardPoint2":"14.85","cgSeq":6,"cgCardPoint1":"13.39","cgModDate":1737360083067,"mcReferWebPage":"https://www.lottecard.co.kr/app/LPCMNPD_V100.lc","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"1","cgCardPoint7":"0.00","cgRegId":"hwani71","mcSeq":106,"cgCardPoint6":"0.00","cgCardPointAvg":"12.45","cgCardPoint5":"0.00","cgCardPoint4":"16.10","mcCompany":"부산은행","cgCardPoint8":"0.00","cgCardPointAvg7":"16.10","cgCardPoint3":"13.91","cgRegDate":1736832867927,"cgCardPoint2":"12.31","cgSeq":14,"cgCardPoint1":"11.03","cgModDate":1737360083083,"mcReferWebPage":"https://www.busanbank.co.kr/ib20/mnu/FPMCRD138001004","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"20181008","mcSeq":14,"cgCardPoint6":"0.00","cgCardPointAvg":"14.07","cgCardPoint5":"0.00","cgCardPoint4":"17.84","mcCompany":"비씨카드","cgCardPoint8":"0.00","cgCardPointAvg7":"17.84","cgCardPoint3":"15.25","cgRegDate":1736470127287,"cgCardPoint2":"13.64","cgSeq":2,"cgCardPoint1":"11.60","cgModDate":1737360083097,"mcReferWebPage":"https://www.bccard.com/app/card/ContentsLinkActn.do?pgm_id=ind1014","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"ecskh","mcSeq":13,"cgCardPoint6":"0.00","cgCardPointAvg":"14.08","cgCardPoint5":"18.83","cgCardPoint4":"17.43","mcCompany":"삼성카드","cgCardPoint8":"0.00","cgCardPointAvg7":"17.45","cgCardPoint3":"14.98","cgRegDate":1736816373203,"cgCardPoint2":"12.59","cgSeq":9,"cgCardPoint1":"11.89","cgModDate":1737360083110,"mcReferWebPage":"https://www.samsungcard.com/","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"rpt03","mcSeq":12,"cgCardPoint6":"0.00","cgCardPointAvg":"14.66","cgCardPoint5":"18.94","cgCardPoint4":"17.43","mcCompany":"신한카드","cgCardPoint8":"0.00","cgCardPointAvg7":"17.51","cgCardPoint3":"15.29","cgRegDate":1736469628247,"cgCardPoint2":"13.15","cgSeq":1,"cgCardPoint1":"11.20","cgModDate":1737360083127,"mcReferWebPage":"http://www.shinhancard.com","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"HDHKKM","mcSeq":98,"cgCardPoint6":"0.00","cgCardPointAvg":"12.21","cgCardPoint5":"16.90","cgCardPoint4":"13.87","mcCompany":"씨티은행","cgCardPoint8":"0.00","cgCardPointAvg7":"13.89","cgCardPoint3":"12.70","cgRegDate":1736485548307,"cgCardPoint2":"11.73","cgSeq":3,"cgCardPoint1":"8.56","cgModDate":1737360083147,"mcReferWebPage":"https://www.citibank.co.kr/CusFegnCnts0100.act","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"rpt24","mcSeq":502,"cgCardPoint6":"0.00","cgCardPointAvg":"15.32","cgCardPoint5":"19.83","cgCardPoint4":"18.88","mcCompany":"우리카드","cgCardPoint8":"0.00","cgCardPointAvg7":"18.91","cgCardPoint3":"16.91","cgRegDate":1736762151130,"cgCardPoint2":"15.04","cgSeq":7,"cgCardPoint1":"11.45","cgModDate":1737360083163,"mcReferWebPage":"https://pc.wooricard.com/dcpc/yh1/cct/cct11/prdntc/H1CCT211S03.do","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"1","cgCardPoint7":"0.00","cgRegId":"jbb91201","mcSeq":108,"cgCardPoint6":"0.00","cgCardPointAvg":"14.52","cgCardPoint5":"0.00","cgCardPoint4":"17.34","mcCompany":"전북은행","cgCardPoint8":"0.00","cgCardPointAvg7":"17.34","cgCardPoint3":"14.07","cgRegDate":1736763256243,"cgCardPoint2":"0.00","cgSeq":8,"cgCardPoint1":"0.00","cgModDate":1737360083207,"mcReferWebPage":"https://www.jbbank.co.kr/form_rule_noti_menu.act?_MENU_PRJ_TYPE_=CUSTOMER ","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"yiyaah","mcSeq":619,"cgCardPoint6":"0.00","cgCardPointAvg":"14.60","cgCardPoint5":"17.71","cgCardPoint4":"15.81","mcCompany":"하나카드","cgCardPoint8":"0.00","cgCardPointAvg7":"15.81","cgCardPoint3":"14.82","cgRegDate":1736486927747,"cgCardPoint2":"14.00","cgSeq":4,"cgCardPoint1":"13.50","cgModDate":1737360083227,"mcReferWebPage":"https://www.hanacard.co.kr/OKP00500000N.web?schID=kcd&amp;mID=OKP00500000N","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"hyundaicard","mcSeq":11,"cgCardPoint6":"0.00","cgCardPointAvg":"14.04","cgCardPoint5":"18.06","cgCardPoint4":"17.02","mcCompany":"현대카드","cgCardPoint8":"0.00","cgCardPointAvg7":"17.02","cgCardPoint3":"14.54","cgRegDate":1736819729603,"cgCardPoint2":"12.84","cgSeq":10,"cgCardPoint1":"12.65","cgModDate":1737360083243,"mcReferWebPage":"https://www.hyundaicard.com/cpu/ug/CPUUG2001_01.hc","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"baraba92","mcSeq":97,"cgCardPoint6":"0.00","cgCardPointAvg":"14.44","cgCardPoint5":"17.94","cgCardPoint4":"17.19","mcCompany":"IBK기업은행","cgCardPoint8":"0.00","cgCardPointAvg7":"17.20","cgCardPoint3":"15.97","cgRegDate":1736830858613,"cgCardPoint2":"12.45","cgSeq":13,"cgCardPoint1":"9.20","cgModDate":1737360083257,"mcReferWebPage":"https://www.ibk.co.kr/","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"1","cgCardPoint7":"0.00","cgRegId":"lmsmv7","mcSeq":105,"cgCardPoint6":"0.00","cgCardPointAvg":"12.11","cgCardPoint5":"0.00","cgCardPoint4":"16.47","mcCompany":"IM뱅크","cgCardPoint8":"0.00","cgCardPointAvg7":"16.47","cgCardPoint3":"14.23","cgRegDate":1736834080903,"cgCardPoint2":"12.22","cgSeq":15,"cgCardPoint1":"9.87","cgModDate":1737360083270,"mcReferWebPage":"https://www.imbank.co.kr/com_ebz_fpm_main.act#","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"biniro","mcSeq":103,"cgCardPoint6":"0.00","cgCardPointAvg":"14.48","cgCardPoint5":"19.16","cgCardPoint4":"16.92","mcCompany":"KB국민카드","cgCardPoint8":"0.00","cgCardPointAvg7":"16.98","cgCardPoint3":"15.08","cgRegDate":1736839845730,"cgCardPoint2":"12.97","cgSeq":16,"cgCardPoint1":"12.20","cgModDate":1737360083283,"mcReferWebPage":"https://card.kbcard.com/FNC/DVIEW/HFAMCXPRIFIC0099","cgcSeq":1458,"cgPublish":"Y"},{"cgcardgradeCompy":"3","cgCardPoint7":"0.00","cgRegId":"rpt19","mcSeq":22,"cgCardPoint6":"0.00","cgCardPointAvg":"13.63","cgCardPoint5":"16.50","cgCardPoint4":"16.35","mcCompany":"NH농협은행","cgCardPoint8":"0.00","cgCardPointAvg7":"16.35","cgCardPoint3":"14.56","cgRegDate":1736829382733,"cgCardPoint2":"12.21","cgSeq":12,"cgCardPoint1":"11.56","cgModDate":1737360083300,"mcReferWebPage":"https://card.nonghyup.com/so/jsp/initech/sandbox/index.jsp","cgcSeq":1458,"cgPublish":"Y"}],"commonList":[{"sortOrdr":1,"detailCode":"1","detailCodeNm":"NICE","mastrCode":"CM054"},{"sortOrdr":2,"detailCode":"2","detailCodeNm":"KIS","mastrCode":"CM054"},{"sortOrdr":3,"detailCode":"3","detailCodeNm":"KCB","mastrCode":"CM054"}],"cgcYear":"2025"}

In [42]:
# data = json.loads(data)
data = data['configListMm']

for item in data:
    if item['cgcquarter'] == 1:
        cgc_seq = item['cgcSeq']
        print(f"cgcquarter가 1일 때 cgcSeq: {cgc_seq}")
        break  # 첫 번째로 찾은 값만 출력하고 반복문 종료
else:
    print("cgcquarter가 1인 데이터를 찾을 수 없습니다.")

cgcquarter가 1일 때 cgcSeq: 1305

## 2.2. 금리대별 취급비중

SSL 오류: [SSL: WRONG_SIGNATURE_TYPE] wrong signature type (_ssl.c:1006)