<a href="https://colab.research.google.com/github/kty0307/Blog/blob/main/GPTs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. 환경설정

In [ ]:
import requests
import json
import pandas as pd

In [ ]:
class TLSAdapter(requests.adapters.HTTPAdapter):
    def init_poolmanager(self, *args, **kwargs):
        ctx = ssl.create_default_context()
        ctx.set_ciphers("AES128-SHA256")
        kwargs["ssl_context"] = ctx
        return super(TLSAdapter, self).init_poolmanager(*args, **kwargs)

# 1. 저축은행

## 1.1. 신용점수별 금리

In [50]:
def savings_cs(year, month):
  """
  fsb.or.kr 웹사이트에서 데이터를 크롤링하는 함수

  Args:
    year (int): 년도
    month (int): 월

  Returns:
    dict: 크롤링된 데이터 (JSON 형식)
  """

  url = "https://www.fsb.or.kr/ratloanconf_0200.jct"
  payload = {
      "_JSON_": json.dumps({
          "SORT_COLUMN": "",
          "SORT": "",
          "PRE_MONTH_MONEY": "",
          "SUBMIT_MONTH": f"{year:04d}{month:02d}"
      })
  }

  response = requests.post(url, data=payload)

  data = response.text

  json_data = json.loads(data)

  # 데이터 추출 및 DataFrame 생성
  df = pd.DataFrame(json_data['REC'])
  df = df[['BANK_NAME', 'SUBMIT_MONTH', 'A_RATE1_3', 'A_RATE1', 'A_RATE2',
            'A_RATE3', 'A_RATE_AVE']]

  return df


crawled_data = savings_cs(2024, 12)

crawled_data

   BANK_NAME SUBMIT_MONTH A_RATE1_3 A_RATE1 A_RATE2 A_RATE3 A_RATE_AVE
0        BNK       202412     12.97    13.7   14.83   15.13      14.31
1         DB       202412     11.55   11.71    12.1     NaN      11.91
2        IBK       202412     12.63   14.27   16.01     NaN      15.29
3         JT       202412     13.57   13.86   14.04   13.83      13.97
4       JT친애       202412     13.92   14.86   15.22    15.3      15.17
5         KB       202412     12.21    13.2   14.68   16.19      14.27
6         NH       202412     11.13   11.64   13.02   13.52      12.41
7         OK       202412     14.21   15.05   16.75   17.94      16.46
8        OSB       202412     14.73   15.42   16.11   18.01      15.93
9        SBI       202412     14.05    14.7   15.15   15.86      15.14
10        고려       202412     15.18   14.18   14.26   14.72      14.76
11        다올       202412     15.12   14.47   15.01   16.22      14.98
12        동양       202412      16.9   16.19   16.68     NaN      16.45
13        모아       202412       NaN      19   19.02   18.88      18.99
14        삼호       202412     15.74   18.33   19.03   19.95      18.54
15    상상인플러스       202412     18.94   19.33   19.56   19.66      19.51
16        세람       202412     11.95   13.04    13.2   13.72      16.41
17       스마트       202412     11.69    14.1   15.37   16.87      14.66
18        스타       202412       NaN    14.2   18.98    18.5      17.68
19        신한       202412     12.71   15.93   16.76   16.97       16.5
20       애큐온       202412     15.23   16.19   16.72   17.05      16.72
21       엠에스       202412       NaN     NaN     NaN    15.9      17.86
22       예가람       202412     10.84   13.61   15.53    15.9      14.82
23      우리금융       202412      12.7   14.45   14.68   15.12      13.75
24        웰컴       202412     15.66   15.98   16.21   16.53      16.78
25        키움       202412     12.61   13.65    14.5   14.71      14.26
26     키움YES       202412     12.51    13.9   13.45   12.81      13.49
27        페퍼       202412      12.4   15.26   16.46   17.64      16.46
28        하나       202412     13.74   14.54   15.17   14.75      14.61
29      한국투자       202412     15.29   15.55    15.6   15.52      15.58
30        한성       202412       NaN   17.59   18.53   18.53      18.15
31        한화       202412     11.42   11.75   12.65   13.82       12.7

## 1.2. 금리대별 취급비중

In [53]:
def savings_int(year, month):
    url = "https://www.fsb.or.kr/ratloanconf_0300.jct"

    payload = {
        "SORT": "",
        "SUBMIT_MONTH": f"{year}{month:02}"
    }

    response = requests.post(url, data={"_JSON_": json.dumps(payload)})
    response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    data = json.loads(response.text)

    df = pd.DataFrame(data["REC"])  # 모든 열을 포함하는 DataFrame 생성

    # 원하는 열만 선택
    desired_columns = ["BANK_NAME", "SUBMIT_MONTH", "HANDING_WEIGHT_10", "HANDING_WEIGHT_12", "HANDING_WEIGHT_14"
                        ,"HANDING_WEIGHT_16", "HANDING_WEIGHT_18", "HANDING_WEIGHT_20"]
    df = df[desired_columns] #원하는 열만 남기기

    return df

# 예시 사용

data = savings_int(2024, 12)

data

,BANK_NAME,SUBMIT_MONTH,HANDING_WEIGHT_10,HANDING_WEIGHT_12,HANDING_WEIGHT_14,HANDING_WEIGHT_16,HANDING_WEIGHT_18,HANDING_WEIGHT_20
0,BNK,202412,0.44,16.82,25.54,46.61,10.59,0
1,DB,202412,NaN,66.42,28.2,3.91,1.47,NaN
2,IBK,202412,NaN,9.23,36.05,14.95,12.6,27.17
3,JT,202412,35.07,17,36.23,6.88,4.82,NaN
4,JT친애,202412,NaN,NaN,33.06,42.01,16.68,8.25
5,KB,202412,5.18,24.26,24.11,16.61,12.85,16.99
6,NH,202412,0.09,44.58,32.35,18.56,3.38,1.04
7,OK,202412,NaN,5.68,9.36,27.59,28.89,28.48
8,OSB,202412,NaN,NaN,23.81,33.23,11.72,31.24
9,SBI,202412,0.54,8.64,24.48,33.08,19.18,14.08
10,고려,202412,NaN,4.28,42.17,28.27,16.89,8.39
11,다올,202412,0.88,21.34,10.77,14.71,45.28,7.02
12,동양,202412,NaN,NaN,NaN,34.93,62.83,2.24
13,모아,202412,NaN,NaN,NaN,1.27,25.31,73.42
14,삼호,202412,1.1,0.48,0.81,1.77,10.77,85.07
15,상상인플러스,202412,NaN,NaN,NaN,NaN,5.32,94.68
16,세람,202412,NaN,12.44,16.16,8.74,33.89,28.77
17,스마트,202412,NaN,14.5,23.15,35.64,15.85,10.86
18,스타,202412,0,0,15.87,13.66,11.02,59.45
19,신한,202412,0.3,5.74,9.41,22.89,34.74,26.92
20,애큐온,202412,0,0.26,1.98,31.38,40.36,26.02
21,엠에스,202412,NaN,NaN,NaN,3.24,71.97,24.79
22,예가람,202412,2.27,15.75,25.84,21.03,24.51,10.6
23,우리,202412,56.58,43.42,0,0,0,0
24,우리금융,202412,1.41,5.01,16.74,72.57,3.94,0.33
25,웰컴,202412,NaN,0.14,12.24,26.87,25.77,34.98
26,키움,202412,0,27.57,25.34,21.75,13.6,11.74
27,키움YES,202412,4.65,27.32,31.62,23.78,8.32,4.31
28,페퍼,202412,NaN,2.97,15.19,26.28,23.95,31.61
29,하나,202412,0,2.14,35.89,41.45,18.43,2.09
30,한국투자,202412,NaN,1.68,29.14,20.25,38.56,10.37
31,한성,202412,NaN,NaN,NaN,1.9,34.46,63.64
32,한화,202412,0.25,37.17,44.58,10.78,5.32,1.9

In [7]:
def process_json_data(json_string):
    """
    JSON 문자열을 파싱하여 DataFrame으로 변환하고, 원하는 열만 남기는 함수.

    Args:
        json_string (str): JSON 문자열

    Returns:
        pandas.DataFrame: 변환된 DataFrame (원하는 열만 남은 상태)
        None: JSON 파싱 오류 또는 데이터 추출 오류 시
    """
    try:
        data = json.loads(json_string)

        if not isinstance(data, dict) or "REC" not in data or not isinstance(data["REC"], list):
            print("Invalid JSON format: 'REC' key not found or not a list.")
            return None

        rec_data = data["REC"]
        df = pd.DataFrame(rec_data)  # 모든 열을 포함하는 DataFrame 생성

        # 원하는 열만 선택
        desired_columns = ["BANK_NAME", "SUBMIT_MONTH", "HANDING_WEIGHT_10", "HANDING_WEIGHT_12", "HANDING_WEIGHT_14"
                            ,"HANDING_WEIGHT_16", "HANDING_WEIGHT_18", "HANDING_WEIGHT_20"]
        df = df[desired_columns] #원하는 열만 남기기

        return df

    except json.JSONDecodeError:
        print("Error: Invalid JSON string")
        return None
    except KeyError as e:  # KeyError 추가
        print(f"Error: Key '{e}' not found in JSON data")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None

process_json_data(data)

,BANK_NAME,SUBMIT_MONTH,HANDING_WEIGHT_10,HANDING_WEIGHT_12,HANDING_WEIGHT_14,HANDING_WEIGHT_16,HANDING_WEIGHT_18,HANDING_WEIGHT_20
0,BNK,202501,0.69,27.67,36.64,34.99,0.01,0
1,DB,202501,NaN,67.98,28,3.03,0.99,NaN
2,IBK,202501,NaN,11.87,36.15,12.77,11.74,27.47
3,JT,202501,0.18,29.79,13.19,46.16,7.71,2.97
4,JT친애,202501,NaN,0.59,36.54,37.86,15.63,9.38
5,KB,202501,1.73,6.47,24.96,17.6,18.79,30.45
6,NH,202501,0,49.87,28.55,15.68,5.27,0.63
7,OK,202501,0.01,0.32,5.18,29.15,31.99,33.35
8,OSB,202501,NaN,NaN,29.8,30.55,7.97,31.68
9,SBI,202501,0.96,11.64,35.99,28.17,16.19,7.05
10,고려,202501,NaN,25.34,42.76,20.27,6.35,5.28
11,다올,202501,1.09,24.06,13.18,11.35,43.3,7.02
12,동양,202501,NaN,NaN,NaN,32.62,63.86,3.52
13,모아,202501,NaN,NaN,NaN,1.52,21.09,77.39
14,민국,202501,NaN,NaN,100,NaN,NaN,NaN
15,삼호,202501,NaN,0.24,0.49,1.72,10.77,86.78
16,상상인플러스,202501,NaN,NaN,NaN,NaN,7.82,92.18
17,세람,202501,NaN,12.3,26.68,12.55,24,24.47
18,스마트,202501,NaN,10.57,37.44,31.19,18.34,2.46
19,스타,202501,0,0,0,12.1,7.77,80.13
20,신한,202501,0.53,1.99,6.85,30.79,42.98,16.86
21,애큐온,202501,NaN,NaN,0.33,37.67,39.69,22.31
22,엠에스,202501,NaN,NaN,NaN,5.05,66.2,28.75
23,예가람,202501,7.41,17.88,25.89,20.02,21.37,7.43
24,우리,202501,55.71,44.29,0,0,0,0
25,우리금융,202501,0.77,7.07,24.68,44.39,22.19,0.9
26,웰컴,202501,0,1.29,10.3,22.35,19.79,46.27
27,청주,202501,NaN,NaN,NaN,1.6,18.85,79.55
28,키움,202501,0,36.16,22.41,18.65,10.96,11.82
29,키움YES,202501,NaN,19.9,28.42,30.94,14.02,6.72
30,페퍼,202501,NaN,7.84,18.83,16,22.38,34.95
31,푸른,202501,100,0,0,0,0,0
32,하나,202501,0,5.46,36.53,38.43,18.35,1.23
33,한국투자,202501,NaN,1.74,28.42,20.68,38.21,10.95
34,한성,202501,NaN,NaN,NaN,3.51,35.84,60.65
35,한화,202501,2.17,58.62,30.98,6.87,1.16,0.2

# 2. 신용카드

## 2.1. 카드론_신용점수별 금리

In [55]:
def card_cs(year, month):
    url = "https://gongsi.crefia.or.kr/portal/creditcard/creditcardDisclosureDetail25Ajax"

    # cgc_seq(월)을 찾기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": 1458,
        "cgcMode": 25,
        "cgcYyyy": year,
        "mcSeq": []
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    pick_month = json.loads(response.text)  # 응답 문자열 반환

    for item in pick_month['configListMm']:
        if item['cgcquarter'] == month:
            cgc_seq = item['cgcSeq']
            break  # 첫 번째로 찾은 값만 출력하고 반복문 종료

    # 실제 데이터를 추출하기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": cgc_seq,
        "cgcMode": 25,
        "cgcYyyy": year,
        "mcSeq": [31, 96, 1, 106, 14, 13, 12, 98, 502, 108, 619, 11, 97, 105, 103, 22]
      }

      response = s.get(url, params=params, verify=certifi.where())
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

      data = json.loads(response.text)

      pick_data = data["resultList"]
      df = pd.DataFrame(pick_data)  # 모든 열을 포함하는 DataFrame 생성

      # 원하는 열만 선택
      df = df[["mcCompany", "cgcSeq", "cgCardPoint1", "cgCardPoint2", "cgCardPoint3"
                 ,"cgCardPoint4", "cgCardPointAvg"]] #원하는 열만 남기기

      df["cgcSeq"] = f"{year}{month:02}" if month < 10 else f"{year}{month}"

      return df

# 예시 사용

data = card_cs(2024, 11)

data

,mcCompany,cgcSeq,cgCardPoint1,cgCardPoint2,cgCardPoint3,cgCardPoint4,cgCardPointAvg
0,경남은행,202411,8.08,12.20,15.20,17.46,12.20
1,광주은행,202411,12.59,14.04,15.60,16.92,14.94
2,롯데카드,202411,11.10,12.86,15.96,18.02,14.93
3,부산은행,202411,11.04,12.11,14.01,15.59,12.33
4,비씨카드,202411,11.79,13.19,14.78,14.96,13.30
5,삼성카드,202411,12.25,13.04,15.51,18.00,14.79
6,신한카드,202411,11.09,12.78,15.00,17.19,14.46
7,씨티은행,202411,8.89,11.48,12.45,14.34,12.09
8,우리카드,202411,10.07,13.72,16.51,18.83,15.39
9,전북은행,202411,0.00,0.00,14.54,17.77,14.64
10,하나카드,202411,12.25,13.36,14.50,15.70,14.06
11,현대카드,202411,12.49,12.62,15.03,17.96,14.48
12,IBK기업은행,202411,8.86,12.53,15.94,17.14,14.54
13,IM뱅크,202411,10.29,12.15,14.29,15.54,12.43
14,KB국민카드,202411,11.51,12.53,14.60,16.58,14.12
15,NH농협은행,202411,11.28,12.19,14.45,16.37,13.83

## 2.2. 현금서비스_신용점수별 금리

In [56]:
def card_cs(year, month):
    url = "https://gongsi.crefia.or.kr/portal/creditcard/creditcardDisclosureDetail25Ajax"

    # cgc_seq(월)을 찾기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": 1458,
        "cgcMode": 25,
        "cgcYyyy": year,
        "mcSeq": []
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    pick_month = json.loads(response.text)  # 응답 문자열 반환

    for item in pick_month['configListMm']:
        if item['cgcquarter'] == month:
            cgc_seq = item['cgcSeq']
            break  # 첫 번째로 찾은 값만 출력하고 반복문 종료

    # 실제 데이터를 추출하기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": cgc_seq,
        "cgcMode": 25,
        "cgcYyyy": year,
        "mcSeq": [31, 96, 1, 106, 14, 13, 12, 98, 502, 108, 619, 11, 97, 105, 103, 22]
      }

      response = s.get(url, params=params, verify=certifi.where())
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

      data = json.loads(response.text)

      pick_data = data["resultList"]
      df = pd.DataFrame(pick_data)  # 모든 열을 포함하는 DataFrame 생성

      # 원하는 열만 선택
      df = df[["mcCompany", "cgcSeq", "cgCardPoint1", "cgCardPoint2", "cgCardPoint3"
                 ,"cgCardPoint4", "cgCardPointAvg"]] #원하는 열만 남기기

      df["cgcSeq"] = f"{year}{month:02}" if month < 10 else f"{year}{month}"

      return df

# 예시 사용

data = card_cs(2024, 11)

data

# 3. 캐피탈

## 3.1. 신용점수별 금리

# 4. 은행

오케

SSL 오류: [SSL: WRONG_SIGNATURE_TYPE] wrong signature type (_ssl.c:1006)