<a href="https://colab.research.google.com/github/kty0307/Blog/blob/main/GPTs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. 환경설정

In [96]:
import requests
import json
import pandas as pd
import urllib.parse
import urllib3
from urllib.parse import unquote
from requests.adapters import HTTPAdapter
from urllib3.util.ssl_ import create_urllib3_context

In [60]:
class TLSAdapter(requests.adapters.HTTPAdapter):
    def init_poolmanager(self, *args, **kwargs):
        ctx = ssl.create_default_context()
        ctx.set_ciphers("AES128-SHA256")
        kwargs["ssl_context"] = ctx
        return super(TLSAdapter, self).init_poolmanager(*args, **kwargs)

In [92]:
class NewTLSAdapter(HTTPAdapter):
    def init_poolmanager(self, *args, **kwargs):
        ctx = ssl.create_default_context()
        ctx.set_ciphers("AES128-SHA256")  # 원하는 Cipher Suite 설정
        kwargs["ssl_context"] = ctx
        return super().init_poolmanager(*args, **kwargs)

# 1. 저축은행

## 1.1. 신용점수별 금리

In [50]:
def savings_cs(year, month):
  url = "https://www.fsb.or.kr/ratloanconf_0200.jct"
  payload = {
      "_JSON_": json.dumps({
          "SORT_COLUMN": "",
          "SORT": "",
          "PRE_MONTH_MONEY": "",
          "SUBMIT_MONTH": f"{year:04d}{month:02d}"
      })
  }

  response = requests.post(url, data=payload)

  data = response.text

  json_data = json.loads(data)

  # 데이터 추출 및 DataFrame 생성
  df = pd.DataFrame(json_data['REC'])
  df = df[['BANK_NAME', 'SUBMIT_MONTH', 'A_RATE1_3', 'A_RATE1', 'A_RATE2',
            'A_RATE3', 'A_RATE_AVE']]

  return df


crawled_data = savings_cs(2024, 12)

crawled_data

   BANK_NAME SUBMIT_MONTH A_RATE1_3 A_RATE1 A_RATE2 A_RATE3 A_RATE_AVE
0        BNK       202412     12.97    13.7   14.83   15.13      14.31
1         DB       202412     11.55   11.71    12.1     NaN      11.91
2        IBK       202412     12.63   14.27   16.01     NaN      15.29
3         JT       202412     13.57   13.86   14.04   13.83      13.97
4       JT친애       202412     13.92   14.86   15.22    15.3      15.17
5         KB       202412     12.21    13.2   14.68   16.19      14.27
6         NH       202412     11.13   11.64   13.02   13.52      12.41
7         OK       202412     14.21   15.05   16.75   17.94      16.46
8        OSB       202412     14.73   15.42   16.11   18.01      15.93
9        SBI       202412     14.05    14.7   15.15   15.86      15.14
10        고려       202412     15.18   14.18   14.26   14.72      14.76
11        다올       202412     15.12   14.47   15.01   16.22      14.98
12        동양       202412      16.9   16.19   16.68     NaN      16.45
13        모아       202412       NaN      19   19.02   18.88      18.99
14        삼호       202412     15.74   18.33   19.03   19.95      18.54
15    상상인플러스       202412     18.94   19.33   19.56   19.66      19.51
16        세람       202412     11.95   13.04    13.2   13.72      16.41
17       스마트       202412     11.69    14.1   15.37   16.87      14.66
18        스타       202412       NaN    14.2   18.98    18.5      17.68
19        신한       202412     12.71   15.93   16.76   16.97       16.5
20       애큐온       202412     15.23   16.19   16.72   17.05      16.72
21       엠에스       202412       NaN     NaN     NaN    15.9      17.86
22       예가람       202412     10.84   13.61   15.53    15.9      14.82
23      우리금융       202412      12.7   14.45   14.68   15.12      13.75
24        웰컴       202412     15.66   15.98   16.21   16.53      16.78
25        키움       202412     12.61   13.65    14.5   14.71      14.26
26     키움YES       202412     12.51    13.9   13.45   12.81      13.49
27        페퍼       202412      12.4   15.26   16.46   17.64      16.46
28        하나       202412     13.74   14.54   15.17   14.75      14.61
29      한국투자       202412     15.29   15.55    15.6   15.52      15.58
30        한성       202412       NaN   17.59   18.53   18.53      18.15
31        한화       202412     11.42   11.75   12.65   13.82       12.7

## 1.2. 금리대별 취급비중

In [53]:
def savings_int(year, month):
    url = "https://www.fsb.or.kr/ratloanconf_0300.jct"

    payload = {
        "SORT": "",
        "SUBMIT_MONTH": f"{year}{month:02}"
    }

    response = requests.post(url, data={"_JSON_": json.dumps(payload)})
    response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    data = json.loads(response.text)

    df = pd.DataFrame(data["REC"])  # 모든 열을 포함하는 DataFrame 생성

    # 원하는 열만 선택
    desired_columns = ["BANK_NAME", "SUBMIT_MONTH", "HANDING_WEIGHT_10", "HANDING_WEIGHT_12", "HANDING_WEIGHT_14"
                        ,"HANDING_WEIGHT_16", "HANDING_WEIGHT_18", "HANDING_WEIGHT_20"]
    df = df[desired_columns] #원하는 열만 남기기

    return df

# 예시 사용

data = savings_int(2024, 12)

data

,BANK_NAME,SUBMIT_MONTH,HANDING_WEIGHT_10,HANDING_WEIGHT_12,HANDING_WEIGHT_14,HANDING_WEIGHT_16,HANDING_WEIGHT_18,HANDING_WEIGHT_20
0,BNK,202412,0.44,16.82,25.54,46.61,10.59,0
1,DB,202412,NaN,66.42,28.2,3.91,1.47,NaN
2,IBK,202412,NaN,9.23,36.05,14.95,12.6,27.17
3,JT,202412,35.07,17,36.23,6.88,4.82,NaN
4,JT친애,202412,NaN,NaN,33.06,42.01,16.68,8.25
5,KB,202412,5.18,24.26,24.11,16.61,12.85,16.99
6,NH,202412,0.09,44.58,32.35,18.56,3.38,1.04
7,OK,202412,NaN,5.68,9.36,27.59,28.89,28.48
8,OSB,202412,NaN,NaN,23.81,33.23,11.72,31.24
9,SBI,202412,0.54,8.64,24.48,33.08,19.18,14.08
10,고려,202412,NaN,4.28,42.17,28.27,16.89,8.39
11,다올,202412,0.88,21.34,10.77,14.71,45.28,7.02
12,동양,202412,NaN,NaN,NaN,34.93,62.83,2.24
13,모아,202412,NaN,NaN,NaN,1.27,25.31,73.42
14,삼호,202412,1.1,0.48,0.81,1.77,10.77,85.07
15,상상인플러스,202412,NaN,NaN,NaN,NaN,5.32,94.68
16,세람,202412,NaN,12.44,16.16,8.74,33.89,28.77
17,스마트,202412,NaN,14.5,23.15,35.64,15.85,10.86
18,스타,202412,0,0,15.87,13.66,11.02,59.45
19,신한,202412,0.3,5.74,9.41,22.89,34.74,26.92
20,애큐온,202412,0,0.26,1.98,31.38,40.36,26.02
21,엠에스,202412,NaN,NaN,NaN,3.24,71.97,24.79
22,예가람,202412,2.27,15.75,25.84,21.03,24.51,10.6
23,우리,202412,56.58,43.42,0,0,0,0
24,우리금융,202412,1.41,5.01,16.74,72.57,3.94,0.33
25,웰컴,202412,NaN,0.14,12.24,26.87,25.77,34.98
26,키움,202412,0,27.57,25.34,21.75,13.6,11.74
27,키움YES,202412,4.65,27.32,31.62,23.78,8.32,4.31
28,페퍼,202412,NaN,2.97,15.19,26.28,23.95,31.61
29,하나,202412,0,2.14,35.89,41.45,18.43,2.09
30,한국투자,202412,NaN,1.68,29.14,20.25,38.56,10.37
31,한성,202412,NaN,NaN,NaN,1.9,34.46,63.64
32,한화,202412,0.25,37.17,44.58,10.78,5.32,1.9

# 2. 신용카드

## 2.1. 카드론_신용점수별 금리

In [62]:
def card_loan_cs(year, month):
    url = "https://gongsi.crefia.or.kr/portal/creditcard/creditcardDisclosureDetail25Ajax"

    # cgc_seq(월)을 찾기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": 1458,
        "cgcMode": 25,
        "cgcYyyy": year,
        "mcSeq": []
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    pick_month = json.loads(response.text)  # 응답 문자열 반환

    for item in pick_month['configListMm']:
        if item['cgcquarter'] == month:
            cgc_seq = item['cgcSeq']
            break  # 첫 번째로 찾은 값만 출력하고 반복문 종료

    # 실제 데이터를 추출하기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": cgc_seq,
        "cgcMode": 25,
        "cgcYyyy": year,
        "mcSeq": [31, 96, 1, 106, 14, 13, 12, 98, 502, 108, 619, 11, 97, 105, 103, 22]
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    data = json.loads(response.text)

    pick_data = data["resultList"]
    df = pd.DataFrame(pick_data)  # 모든 열을 포함하는 DataFrame 생성

    # 원하는 열만 선택
    df = df[["mcCompany", "cgcSeq", "cgCardPoint1", "cgCardPoint2", "cgCardPoint3"
                ,"cgCardPoint4", "cgCardPointAvg"]] #원하는 열만 남기기

    df["cgcSeq"] = f"{year}{month:02}" if month < 10 else f"{year}{month}"

    return df

# 예시 사용

data = card_cs(2024, 11)

data

,mcCompany,cgcSeq,cgCardPoint1,cgCardPoint2,cgCardPoint3,cgCardPoint4,cgCardPointAvg
0,경남은행,202411,8.08,12.20,15.20,17.46,12.20
1,광주은행,202411,12.59,14.04,15.60,16.92,14.94
2,롯데카드,202411,11.10,12.86,15.96,18.02,14.93
3,부산은행,202411,11.04,12.11,14.01,15.59,12.33
4,비씨카드,202411,11.79,13.19,14.78,14.96,13.30
5,삼성카드,202411,12.25,13.04,15.51,18.00,14.79
6,신한카드,202411,11.09,12.78,15.00,17.19,14.46
7,씨티은행,202411,8.89,11.48,12.45,14.34,12.09
8,우리카드,202411,10.07,13.72,16.51,18.83,15.39
9,전북은행,202411,0.00,0.00,14.54,17.77,14.64
10,하나카드,202411,12.25,13.36,14.50,15.70,14.06
11,현대카드,202411,12.49,12.62,15.03,17.96,14.48
12,IBK기업은행,202411,8.86,12.53,15.94,17.14,14.54
13,IM뱅크,202411,10.29,12.15,14.29,15.54,12.43
14,KB국민카드,202411,11.51,12.53,14.60,16.58,14.12
15,NH농협은행,202411,11.28,12.19,14.45,16.37,13.83

## 2.2. 현금서비스_신용점수별 금리

In [70]:
def card_cash_cs(year, month):
    url = "https://gongsi.crefia.or.kr/portal/creditcard/creditcardDisclosureDetail20Ajax"

    # cgc_seq(월)을 찾기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": 1460,
        "cgcMode": 20,
        "cgcYyyy": year,
        "mcSeq": []
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    pick_month = json.loads(response.text)  # 응답 문자열 반환

    for item in pick_month['configListMm']:
        if item['cgcquarter'] == month:
            cgc_seq = item['cgcSeq']
            break  # 첫 번째로 찾은 값만 출력하고 반복문 종료

    # 실제 데이터를 추출하기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
        "cgcSeq": cgc_seq,
        "cgcMode": 20,
        "cgcYyyy": year,
        "mcSeq": [31, 96, 1, 106, 14, 13, 12, 98, 502, 108, 619, 11, 97, 105, 103, 22]
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    data = json.loads(response.text)

    pick_data = data["resultList"]
    df = pd.DataFrame(pick_data)  # 모든 열을 포함하는 DataFrame 생성

    # 원하는 열만 선택
    df = df[["mcCompany", "cgcSeq", "cgMoneyPoint1", "cgMoneyPoint2", "cgMoneyPoint3"
                ,"cgMoneyPoint4", "cgMoneyPointAvg"]] #원하는 열만 남기기

    df["cgcSeq"] = f"{year}{month:02}" if month < 10 else f"{year}{month}"

    return df

# 예시 사용

data = card_cash_cs(2024, 11)

data

,mcCompany,cgcSeq,cgMoneyPoint1,cgMoneyPoint2,cgMoneyPoint3,cgMoneyPoint4,cgMoneyPointAvg
0,경남은행,202411,14.23,16.88,17.72,18.37,17.81
1,광주은행,202411,16.27,17.10,17.78,18.72,18.33
2,롯데카드,202411,15.30,16.50,17.96,19.16,18.50
3,부산은행,202411,16.34,17.48,18.26,18.37,17.94
4,비씨카드,202411,14.76,16.55,18.23,19.33,18.44
5,삼성카드,202411,14.33,15.25,17.37,19.01,17.81
6,신한카드,202411,13.75,15.08,16.95,18.67,17.66
7,씨티은행,202411,13.02,17.66,19.58,19.85,19.51
8,우리카드,202411,16.09,17.25,18.81,19.45,18.92
9,전북은행,202411,14.29,17.04,18.71,19.31,18.82
10,하나카드,202411,15.03,16.15,17.50,18.79,18.05
11,현대카드,202411,13.97,15.55,17.45,18.93,17.67
12,IBK기업은행,202411,15.63,16.67,17.37,18.01,17.72
13,IM뱅크,202411,16.68,17.62,18.07,18.20,17.86
14,KB국민카드,202411,14.54,17.11,18.23,18.97,18.38
15,NH농협은행,202411,16.67,17.47,17.89,18.89,18.42

# 3. 캐피탈

## 3.1. 신용점수별 금리

In [75]:
def capital_cs(year, month):
    url = "https://gongsi.crefia.or.kr/portal/creditloan/creditloanDisclosureDetail11/ajax"

    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
          "clgcMode": 11,
          "cardItem": "134,39,40,623,130,41,25,156,6,55,32,58,52,61,57,64",
          "clgcSeq": 521,
          "clgcYyyy": 2024
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    pick_month = json.loads(response.text)  # 응답 문자열 반환

    for item in pick_month['configListMm']:
        if item['clgcquarter'] == month:
            clgc_seq = item['clgcSeq']
            break  # 첫 번째로 찾은 값만 출력하고 반복문 종료

    # 실제 데이터를 추출하기 위한 크롤링
    with requests.session() as s:
      s.mount("https://", TLSAdapter())

      params = {
          "clgcMode": 11,
          "cardItem": "134,39,40,623,130,41,25,156,6,55,32,58,52,61,57,64",
          "clgcSeq": clgc_seq,
          "clgcYyyy": year
      }

      response = s.get(url, params=params)
      response.raise_for_status()  # HTTP 오류 발생 시 예외 발생

    data = json.loads(response.text)

    pick_data = data["resultList"]
    df = pd.DataFrame(pick_data)  # 모든 열을 포함하는 DataFrame 생성

    # 원하는 열만 선택
    df = df[["mcCompany", "clgcSeq", "clgPoint1", "clgPoint2", "clgPoint3"
                ,"clgPoint4", "clgPointAvg"]] #원하는 열만 남기기

    df["clgcSeq"] = f"{year}{month:02}" if month < 10 else f"{year}{month}"

    return df

capital_cs(2024, 12)

   mcCompany clgcSeq clgPoint1 clgPoint2 clgPoint3 clgPoint4 clgPointAvg
0     아이엠캐피탈  202412     12.07     13.13     14.90     16.02       14.85
1     오케이캐피탈  202412     17.99     19.99     19.99     19.99       19.99
2      한국캐피탈  202412     16.32     17.67     18.34     18.59       18.14
3    한국투자캐피탈  202412     12.92     13.62     14.60     16.10       14.81
4     BNK캐피탈  202412     12.73     13.19     13.41     13.94       13.44
5      KB캐피탈  202412     11.98     13.08     15.21     16.20       13.47
6      롯데캐피탈  202412     11.50     13.18     14.96     16.63       14.42
7     메리츠캐피탈  202412      0.00     17.61     19.71     19.83       19.61
8    우리금융캐피탈  202412     12.51     13.27     14.30     14.86       13.59
9      하나캐피탈  202412     11.47     11.62     12.44     13.06       11.95
10     현대캐피탈  202412     12.39     13.63     15.35     16.81       15.08
11     현대커머셜  202412     12.21     12.62     13.55     12.70       12.93
12   JB우리캐피탈  202412     15.54     16.19     17.61     18.64       17.80
13   NH농협캐피탈  202412      9.96     11.09     12.39     13.41       11.68
14   RCI파이낸셜  202412     13.80     13.70      0.00      0.00       13.77
15   미래에셋캐피탈  202412     10.55     11.35     11.83      0.00       10.79

# 4. 은행

## 4.1. 신용점수별 금리

In [101]:
def bank_cs(year, month, opt_1, detail, str_val, select_new_balance):
    url = "https://portal.kfb.or.kr/compare/loan_household_new_search_result_new.php"

    with requests.Session() as s:
      s.mount("https://", NewTLSAdapter())

      data = {
          "year": year,
          "month": month,
          "opt_1": opt_1,
          "detail": detail,
          "str": str_val,
          "select_new_balance": select_new_balance
      }

      response = s.post(url, data=data)
      response.raise_for_status()

    return response.text  # 텍스트 응답 반환

# 함수 사용 예시
year = 2025
month = 1
opt_1 = 3
detail = 0
str_val = "KDB%25BB%25EA%25BE%25F7%25C0%25BA%25C7%25E0%7CNH%25B3%25F3%25C7%25F9%25C0%25BA%25C7%25E0%7C%25BD%25C5%25C7%25D1%25C0%25BA%25C7%25E0%7C%25BF%25EC%25B8%25AE%25C0%25BA%25C7%25E0%7CSC%25C1%25A6%25C0%25CF%25C0%25BA%25C7%25E0%7C%25C7%25CF%25B3%25AA%25C0%25BA%25C7%25E0%7CIBK%25B1%25E2%25BE%25F7%25C0%25BA%25C7%25E0%7CKB%25B1%25B9%25B9%25CE%25C0%25BA%25C7%25E0%7C%25C7%25D1%25B1%25B9%25BE%25BE%25C6%25BC%25C0%25BA%25C7%25E0%7CSh%25BC%25F6%25C7%25F9%25C0%25BA%25C7%25E0%7CiM%25B9%25F0%25C5%25A9%2528%25B1%25B8%2B%25B4%25EB%25B1%25B8%25C0%25BA%25C7%25E0%2529%7CBNK%25BA%25CE%25BB%25EA%25C0%25BA%25C7%25E0%7C%25B1%25A4%25C1%25D6%25C0%25BA%25C7%25E0%7C%25C1%25A6%25C1%25D6%25C0%25BA%25C7%25E0%7C%25C0%25FC%25BA%25CF%25C0%25BA%25C7%25E0%7CBNK%25B0%25E6%25B3%25B2%25C0%25BA%25C7%25E0%7C%25C4%25C9%25C0%25CC%25B9%25F0%25C5%25A9%7C%25C4%25AB%25C4%25AB%25BF%25C0%25B9%25F0%25C5%25A9%7C%25C5%25E4%25BD%25BA%25B9%25F0%25C5%25A9"
select_new_balance = 1

response_text = bank_cs(year, month, opt_1, detail, str_val, select_new_balance)

if response_text:
    print(response_text)
    # 필요에 따라 HTML 파싱 등의 추가 작업 수행
else:
    print("정보를 가져오는 데 실패했습니다.")

<b>Á¢¼ÓÇÏ½Å ÆäÀÌÁö¿¡¼­ ¿À·ù°¡ ¹ß»ýÇß½À´Ï´Ù.</b><br>
ÁË¼ÛÇÕ´Ï´Ù. Àá½Ã ÈÄ¿¡ ´Ù½Ã ½ÃµµÇØÁÖ½Ê½Ã¿À.<br>
¿À·ù°¡ °è¼ÓÇØ¼­ ¹ß»ýÇÒ °æ¿ì ¾Æ·¡ÀÇ ¹øÈ£·Î ¿¬¶ôÁÖ½Ã¸é ¹Ù·Î ÇØ°áÇØµå¸®°Ú½À´Ï´Ù.<br>
<b>Àü±¹ÀºÇà¿¬ÇÕÈ¸ : 02-3705-5702</b><br><br><br><br>

In [102]:
import requests
from urllib.parse import urlencode

def crawl_loan_info(year, month, opt_1, detail, str_val, select_new_balance):
    """
    한국금융복지센터 대출 비교 정보를 크롤링하는 함수.

    Args:
        year (int): 년도.
        month (int): 월.
        opt_1 (int): 옵션 1.
        detail (int): 상세 옵션.
        str_val (str): 검색 문자열 (은행명 등).
        select_new_balance (int): 신규 잔액 선택 (1 or 0).

    Returns:
        requests.Response: 응답 객체.
        None: 오류 발생 시.
    """

    url = "https://portal.kfb.or.kr/compare/loan_household_new_search_result_new.php"

    payload = {
        "year": year,
        "month": month,
        "opt_1": opt_1,
        "detail": detail,
        "str": str_val,  # URL 인코딩된 문자열을 그대로 전달
        "select_new_balance": select_new_balance
    }

    try:
        response = requests.post(url, data=payload)
        response.raise_for_status()  # HTTP 오류 발생 시 예외 발생
        return response
    except requests.exceptions.RequestException as e:
        print(f"Error during request: {e}")
        return None


# 예시 사용
year = 2025
month = 1
opt_1 = 3
detail = 0
str_val = "KDB%25BB%25EA%25BE%25F7%25C0%25BA%25C7%25E0%7CNH%25B3%25F3%25C7%25F9%25C0%25BA%25C7%25E0%7C%25BD%25C5%25C7%25D1%25C0%25BA%25C7%25E0%7C%25BF%25EC%25B8%25AE%25C0%25BA%25C7%25E0%7CSC%25C1%25A6%25C0%25CF%25C0%25BA%25C7%25E0%7C%25C7%25CF%25B3%25AA%25C0%25BA%25C7%25E0%7CIBK%25B1%25E2%25BE%25F7%25C0%25BA%25C7%25E0%7CKB%25B1%25B9%25B9%25CE%25C0%25BA%25C7%25E0%7C%25C7%25D1%25B1%25B9%25BE%25BE%25C6%25BC%25C0%25BA%25C7%25E0%7CSh%25BC%25F6%25C7%25F9%25C0%25BA%25C7%25E0%7CiM%25B9%25F0%25C5%25A9%2528%25B1%25B8%2B%25B4%25EB%25B1%25B8%25C0%25BA%25C7%25E0%2529%7CBNK%25BA%25CE%25BB%25EA%25C0%25BA%25C7%25E0%7C%25B1%25A4%25C1%25D6%25C0%25BA%25C7%25E0%7C%25C1%25A6%25C1%25D6%25C0%25BA%25C7%25E0%7C%25C0%25FC%25BA%25CF%25C0%25BA%25C7%25E0%7CBNK%25B0%25E6%25B3%25B2%25C0%25BA%25C7%25E0%7C%25C4%25C9%25C0%25CC%25B9%25F0%25C5%25A9%7C%25C4%25AB%25C4%25AB%25BF%25C0%25B9%25F0%25C5%25A9%7C%25C5%25E4%25BD%25BA%25B9%25F0%25C5%25A9"
select_new_balance = 1

response = crawl_loan_info(year, month, opt_1, detail, str_val, select_new_balance)

if response:
    print(response.text)  # 응답 내용 출력 (HTML)
    # 필요한 정보 추출 (Beautiful Soup 등 활용)
    # ...
else:
    print("크롤링 실패")

Error during request: HTTPSConnectionPool(host='portal.kfb.or.kr', port=443): Max retries exceeded with url: /compare/loan_household_new_search_result_new.php (Caused by SSLError(SSLError(1, '[SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] sslv3 alert handshake failure (_ssl.c:1006)')))
크롤링 실패